lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

*.swp
node_modules/
.directory
uploads/
config.json

static/css/charsheet/base.css
static/css/charsheet/base.css.map
static/css/dialog.css
static/css/dialog.css.map
static/css/index.css
static/css/index.css.map
static/css/printable.css
static/css/printable.css.map
static/css/theme.css
static/css/theme.css.map
static/css/userpage.css
static/css/userpage.css.map

static/img/donation_qr.png
