p,th,td,label,span {
	font-family: 'Metamorphous', cursive;
}

div.sheet-panel-group {
	display: -webkit-flex;
	width: 100%;
	-webkit-flex-direction: row;
	-webkit-justify-content: center;
	-webkit-flex-wrap: wrap;
}

div.sheet-panel {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	margin: 5px;
	-webkit-flex-basis: 350px;

	background-color: white;
	color: black;
	overflow: hidden;
}

div.wide-panel {
	-webkit-flex-basis: 730px;
}

div.field {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.field > * {
	margin: 5px 0;
}

p.sectionHeader {
	font-size: 18pt;
	font-weight: bold;
	margin: 0;
	margin-bottom: 5px;
}

p.fieldLabel {
	/*font-size: 14pt;
	font-style: italic;*/
	font-weight: bold;
}

table p {
	margin: 0px;
}

section#general p:last-child {
	margin-top: 2px;
	margin-bottom: 2px;
}

table {
	width: 100%;
}

input.iconButton {
	margin-left: 10px;
	width: 20px;
	height: 20px;
}

span.subtitle {
	font-size: 80%;
	font-weight: normal;
}

#powers textarea, #powers input[type='text'] {
	width: 100%;
}

#powers textarea {
	height: 70px;
}

#aspects input[type='text'] {
	width: 70%;
}

/*
 * Style the totals box
 */

#totals {
	position: relative;
}

#totals #star {
	width: 270px;
	height: 270px;
	position: absolute;
	bottom: -3px;
	left: -3px;
	opacity: 0.3;
	background-image: url(/img/pentacle.svg);
	background-size: 100%;
	pointer-events: none;
}

#totals input[type=number] {
	width: 40px;
	height: 20px;
}

#totals .container {
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-webkit-align-items: flex-start;
	margin: 10px 0;
}

#totals #bottom-container {
	-webkit-flex-direction: column;
	-webkit-align-items: center;
}

.bubble {
	display: inline-block;
	width: 40px !important;
	height: 40px !important;
	border: solid black 1px;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	margin-right: 5px;
	-webkit-flex-shrink: 0;
}
.doubleBubble {
	border: double black 3px;
}


/*
 * Configure custom checkboxes for stress boxes
 */
input[type="checkbox"].stressBox {
	display: none;
}

input[type="checkbox"].stressBox + label {
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-image: url(../img/checkbox.png);
	background-origin: padding-box;
	padding: 0 3px;
}

input[type="checkbox"].stressBox:checked + label {
	background-position: -26px 0px;
}
input[type="checkbox"][disabled="disabled"].stressBox + label {
	background-position: -52px 0px;
}

input.stressBox.leftParen + label {
	background-position: 0px -20px;
}
input.stressBox.leftParen:checked + label {
	background-position: -26px -20px;
}

input.stressBox.rightParen + label {
	background-position: 0px -40px;
}
input.stressBox.rightParen:checked + label {
	background-position: -26px -40px;
}

input.stressBox.leftParen.rightParen + label {
	background-position: 0px -60px;
}
input.stressBox.leftParen.rightParen:checked + label {
	background-position: -26px -60px;
}

/*
 * Fine-tune sizes on various tables
 */

tr.dropHoverRow {
	background-color: #eef;
}

div#stressBlock {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	width: 100%;
}

#stressBlock .track {
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;
	margin: 3px 0;
}

#stressBlock .rowHeader {
	width: 100px;
	font-weight: bold;
	text-align: left;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
}

#stressBlock .colHeader {
	font-weight: bold;
	text-align: center;
	width: 22px;
}

#stressBlock .boxes {
	display: -webkit-flex;
	-webkit-flex-flow: row nowrap;
	-webkit-flex-grow: 1;
	-webkit-justify-content: space-around;
	padding: 0 2px;
}

#stressBlock .box {
	-webkit-flex-shrink: 0;
	margin: 0 -2px;
}

#stressEditBlock span, #stressEditBlock label {
	font-size: 10pt;
}

#stressEditBlock .track {
	display: -webkit-flex;
	-webkit-flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;
	margin: 3px 0;
}

#stressEditBlock .section {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-align-items: center;
}

#stressEditBlock .button-section {
	width: 30px;
}

#stressEditBlock input[type=text] {
	width: 90px;
}

#stressEditBlock input[type=number] {
	width: 50px;
}

table#conseqTable {
	font-size: 10pt;
}

table#conseqTable th:first-of-type, table#conseqTable td:first-of-type {
	text-align: left;
}

table#skillTable td, table#skillTable th {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}

table#skillTable th {
	width: 125px;
	text-align: left;
	vertical-align: top;
}

table#powerTable {
	text-align: left;
}

table#powerTable thead th {
	padding-bottom: 0px;
}

table#powerTable .mainRow {
	padding-top: 5px;
}

table#powerTable .mainRow:first-child {
	text-align: right;
	padding-right: 10px;
}

p.descriptionLine {
	font-size: 80%;
	padding-left: 10px;
	text-indent: -10px;
}
