p,th,td {
	font-family: 'Metamorphous', cursive;
}

.column {
	float: left;
}

section {
	border: 1px solid black;
	border-radius: 5px;
	width: 350px;
	padding: 10px;
	margin: 10px 5px;
	text-align: center;
}

div.field {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.field > * {
	margin-top: 2px;
	margin-bottom: 2px;
}

p.sectionHeader {
	font-size: 18pt;
	font-weight: bold;
	margin: 0;
	margin-bottom: 5px;
}

p.fieldLabel {
	/*font-size: 14pt;
	font-style: italic;*/
	font-weight: bold;
}

table p {
	margin: 0px;
}

section#general p:last-child {
	margin-top: 2px;
	margin-bottom: 2px;
}

table {
	width: 100%;
}

img.editIcon {
	margin: 5px;
}

th p.subtext {
	font-size: 80%;
	font-weight: normal;
}

/*
 * Style the totals box more or less manually
 */
section#totals {
	position: relative;
	height: 250px;
}
section#totals * {
	position: absolute;
}

img#star {
	width: 180px;
	height: 180px;
	left: -3px;
	bottom: -3px;
	z-index: 2;
}

#borderOcclude {
	background-color: white;
	left: -2px;
	bottom: -2px;
	width: 89px;
	height: 88px;
	z-index: 1;
}

section#totals p {
	display: inline;
	margin: 0px;
}

p.bubble {
	width: 40px;
	height: 40px;
	border: solid black 1px;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
}
p.doubleBubble {
	border: double black 3px;
}

/*section#totals div.bubble > p {
	margin: auto;
	line-height: 40px;
	text-align: center;
}*/

p#powerLevel {
	top: 10px;
	left: 10px;
	width: 170px;
	text-align: center;
}

p#skillCap {
	top: 10px;
	left: 170px;
	width: 170px;
	text-align: center;
}

p#skillsSpent + p.label {
	top: 63px;
	left: 10px;
}

p#skillsSpent {
	top: 53px;
	left: 172px;
}

p#skillsAvailable + p.label{
	top: 63px;
	left: 232px;
}
p#skillsAvailable {
	top: 53px;
	left: 316px;
}

p#baseRefresh {
	top: 104px;
	left: 159px;
}
p#baseRefresh + p.label {
	top: 105px;
	left: 208px;
	width: 125px;
}

p#adjustedRefresh {
	top: 159px;
	left: 174px;
}
p#adjustedRefresh + p.label {
	top: 161px;
	left: 220px;
	width: 90px;
}

p#fatePoints {
	top: 213px;
	left: 161px;
}
p#fatePoints + p.label {
	top: 228px;
	left: 215px;
}

/*
 * Configure custom checkboxes for stress boxes
 */
input[type="checkbox"].stressBox {
	display: none;
}

input[type="checkbox"].stressBox + label {
	vertical-align: middle;
	display: inline-block;
	width: 26px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-image: url(../img/checkbox.png);
}

input[type="checkbox"].stressBox:checked + label {
	background-position: -26px 0px;
}
input[type="checkbox"][disabled="disabled"].stressBox + label {
	background-position: -52px 0px;
}

input.stressBox.leftParen + label {
	background-position: 0px -20px;
}
input.stressBox.leftParen:checked + label {
	background-position: -26px -20px;
}

input.stressBox.rightParen + label {
	background-position: 0px -40px;
}
input.stressBox.rightParen:checked + label {
	background-position: -26px -40px;
}

/*
 * Fine-tune sizes on various tables
 */
table#stressTable thead {
	text-align: center;
}

table#stressTable tbody {
	text-align: left;
}

table#conseqTable {
	font-size: 10pt;
}

table#conseqTable th:first-of-type,td:first-of-type {
	text-align: left;
}

table#skillTable td, table#skillTable th {
	padding-top: 5px;
	padding-bottom: 5px;
}

table#skillTable th {
	width: 125px;
	text-align: left;
	vertical-align: top;
}

table#powerTable {
	text-align: left;
}

table#powerTable thead th {
	padding-bottom: 0px;
}

table#powerTable p {
	font-size: 80%;
}
table#powerTable .mainRow {
	padding-top: 10px;
}

table#powerTable .mainRow:first-child {
	text-align: right;
	padding-right: 10px;
}

table#powerTable tbody tr:last-child td:first-child {
	border-top: solid black 1px;
}
