p.error {
	color: #f00;
}

form input.vacant {
	color: #888;
}

p.inline-link {
	display: inline-block;
	margin-right: 20px;
}

#userbar {
	width: 400px;
	height: 30px;
	background-color: #ccc;
	vertical-align: middle;
}

#userbar *{
	display: inline;
	margin: 0px 10px;
}
