html {
	height: 100%;
}

body {
	display: -webkit-flex;
	-webkit-justify-content: center;

	margin: 0;
	width: 100%;
	min-height: 100%;
	background-color: #000000;
	color: #ffffff;

	font-family: 'Armata', sans-serif;
}

h1 {
	font-family: 'Denk One', sans-serif;
}

h2 {
	font-family: 'Pathway Gothic One', sans-serif;
	font-weight: normal;
}

a:link, a:visited {
	text-decoration: none;
	color: blue;
}
a:hover, a:active {
	text-decoration: underline;
}

.wrapper {
	background-color: #1e1e31;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-align-items: center;
	width: 950px;
}

.navbar {
	color: white;
	width: 100%;
	padding: 15px 0;
	/*display: -webkit-inline-flex;
	-webkit-align-items: center;
	-webkit-flex-direction: row;
	-webkit-justify-content: flex-begin;*/
	font-family: 'Denk One', sans-serif;

	border-bottom: solid grey 1px;
}
.navbar .leftitems {
	float: left;
	display: -webkit-inline-flex;
	webkit-flex-direction: row;
}
.navbar .rightitems {
	float: right;
	display: -webkit-inline-flex;
	webkit-flex-direction: row-reverse;
}

.navbar .navitem {
	padding-left: 12px;
	padding-right: 12px;
	height: 20px;
}
.navitem a:link, .navitem a:visited {
	color: inherit;
}

.content {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	width: 95%;
	min-height: 700px;
}

.content-block {
	margin: 15px auto;
}

.normalbox {
	background-color: white;
	color: black;
	border-radius: 5px;
	padding: 10px; 
}

.titledbox {
	border-radius: 5px;
	padding: 15px;
	border: solid grey 1px;
	background-color: white;
	color: black;
	margin: 10px auto;
	width: 300px;
}
.titledbox label, .titledbox input:not([type=submit]):not([type=file]) {
	display: block;
	margin: 5px;
}

.title {
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-direction: column;
	font-size: 2.0em;
	padding: 18px;
}
.title > * {
	margin: 10px;
}

.footer {
	font-family: 'Denk One', sans-serif;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px 0;
	border-top: solid grey 1px;
	width: 100%;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: flex-begin;
}
.footer > * {
	padding: 0 12px;
}

.footer a:link, .footer a:visited {
	color: inherit;

/*
 * Other colors:
 * #19202c
 * #192233
 * #394966
 * #3e4c66
 * #10192a
 */
