@import '../polyfill';

div.sheet-panel-group
{
	width: 100%;

	@include display-flex();
	@include flex-direction(row);
	@include justify-content(center);
	@include flex-wrap(wrap);
}

div.sheet-panel
{
	border: 1px solid grey;
	border-radius: 5px;

	padding: 10px;
	margin: 5px;

	background-color: white;
	color: black;
	text-align: center;
	overflow: hidden;
	
	max-width: 350px;
	width: 350px;
	@include flex-basis(350px);

	&.dirty {
		border: solid #f44 2px !important;
	}

	h2.panelHeader
	{
		font-size: 18pt;
		font-weight: bold;
		margin: 0;
		margin-bottom: 5px;
	}

	a {
		color: blue;
	}
}

.content {
	font-family: 'Armata', cursive;
}

:focus {
	outline: none;
}

.iconButton {
	margin-left: 10px;
	width: 20px;
	height: 20px;
}


@import 'navbar';
@import 'general';
@import 'aspects';
@import 'skills';
@import 'totals';
@import 'stress';
@import 'consequences';
@import 'powers';
@import 'notes';

