.content {
	font-family: 'Metamorphous', cursive;
}

ul.navmenu {
	padding-left: 12px;
	padding-right: 12px;
}

#charnav.navbar {
	padding: 10px 0;
	background-color: #4a4a72;
}

div.dirty {
	border: solid #f44 2px !important;
}

a.dirty {
	color: #f44;
}

a.dirty::before {
	content: ">>";

}

span.subarrow {
	background-image: url('/static/css/ui-darkness/images/ui-icons_ffffff_256x240.png');
	background-position: -32px 0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	overflow: hidden;
	float: right;
	top: .2em;
	left: .2em;
	display: block;
	margin: 4px;
}
span.mainarrow {
	background-position: -64px 0px;
}

.ui-menu .ui-menu-item:hover {
	border-radius: 5px;
	background-color: #022;
}

.ui-menu .ui-menu {
	border: solid grey 1px;
	background-color: #41568a;
}

.navmenu input[type=checkbox], .navmenu input[type=checkbox] + a {
	display: inline;
}

div.sheet-panel-group {
	width: 100%;

	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-pack: center;
	-moz-justify-content: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;

	-webkit-box-orient: horizontal;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;

	-webkit-box-lines: multiple;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

div.sheet-panel {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	margin: 5px;
	
/*	-webkit-flex-basis: 350px;
	-moz-flex-basis: 350px;
	-ms-flex: 0 1 350px;
	flex-basis: 350px;*/
	width: 350px;

	background-color: white;
	color: black;
	overflow: hidden;

	-moz-flex-basis: 350px;
	-ms-flex: 0 1 350px;
	-webkit-flex-basis: 350px;
	flex-basis: 350px;
	max-width: 350px;
	width: 350px;
}

div.field {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.field > * {
	margin: 5px 0;
}

p.sectionHeader {
	font-size: 18pt;
	font-weight: bold;
	margin: 0;
	margin-bottom: 5px;
	text-align: center;
}

.fieldLabel {
	/*font-size: 14pt;
	font-style: italic;*/
	font-weight: bold;
}

.noselect {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
}

div#avatar {
	height: 200px;
	margin-top: 10px;
}

#avatar > #imgContainer {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

#avatar > #imgContainer > img {
	max-width: 100%;
	max-height: 100%
}

#avatar > form {
	position: absolute;
	background-color: lightgrey;
}

#aspects .ui-accordion p {
	padding: 0;
}

#aspects .ui-accordion p.description {
	padding-top: 5px;
	padding-bottom: 5px;
}

#aspects textarea {
	width: 90%;
	font-family: 'Metamorphous', cursive;
	height: 65px;
	resize: none;
}

#aspects .description {
	font-size: 10pt;
	margin-left: 5px;
	margin-right: 5px;
}

#aspects .ui-accordion:not(.ui-accordion-disabled) .ui-accordion-header::after {
	content: "\25B2";
	margin-left: 2px;
	position: relative;
	bottom: 2px;
}

#aspects .ui-accordion:not(.ui-accordion-disabled) .ui-accordion-header.ui-accordion-header-active::after {
	content: "\25BC";
}

table p {
	margin: 0px;
}

section#general p:last-child {
	margin-top: 2px;
	margin-bottom: 2px;
}

table {
	width: 100%;
}

input.iconButton {
	margin-left: 10px;
	width: 20px;
	height: 20px;
}

span.subtitle {
	font-size: 80%;
	font-weight: normal;
}

#powers textarea, #powers input[type='text'] {
	width: 100%;
}

#powers textarea {
	height: 70px;
}

#aspects input[type='text'] {
	width: 70%;
}


#skills input#shifter {
	display:none;
}
#skills input#shifter + label {
	display: inline-block;
	width: 70px;
	height: 25px;
	margin: 0 -1px -3px 0;
	background-image: url('/static/img/shifter_human.svg');
	cursor: pointer;
}
#skills input#shifter:checked + label {
	background-image: url('/static/img/shifter_animal.svg');
}

#skillBlock .row {
	display: flex;
	padding-top: 7px;
	padding-bottom: 7px;
}

#skillBlock .fieldLabel {
	min-width: 140px;
	width: 140px;
	text-align: left;
}

#skillBlock .skillList {
	text-align: left;
}

#skillBlock .skill {
	display: inline;
}

.ui-draggable {
	cursor: move;
}
.ui-draggable.ui-draggable-disabled {
	cursor: default;
}

#skillBlock .row.hoverDropTarget {
	background-color: lightblue /*#eef*/;
}

/*
 * Style the totals box
 */

#totals {
	position: relative;
}

#totals #star {
	width: 270px;
	height: 270px;
	position: absolute;
	bottom: -3px;
	left: -3px;
	opacity: 0.3;
	pointer-events: none;
}

#totals input[type=number] {
	width: 40px;
	height: 20px;
}

#totals .container {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-pack: center;
	-moz-justify-content: space-around;
	-ms-flex-pack: distribute;
	-webkit-justify-content: space-around;
	justify-content: space-around;

	-webkit-box-orient: horizontal;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;

	-webkit-box-lines: multiple;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;

	margin: 10px 0;
}

#totals #bottom-container {
	-webkit-box-orient: vertical;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;

	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.bubble {
	display: inline-block;
	width: 40px !important;
	height: 40px !important;
	border: solid black 1px;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	margin-right: 5px;
	-webkit-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-ms-flex: 0 0;
	flex-shrink: 0;
}
.doubleBubble {
	border: double black 3px;
}

#notes {
	min-height: 200px;
}

#notes #editor {
	width: 98%;
	height: 200px;
}

#notes #primer {
	text-align: left;
	white-space: pre-wrap;
}

#notes .inner {
	text-align: left;
	font-family: 'Armata', sans-serif;
	max-height: 750px;
	overflow-y: auto;
}

/*
 * Configure custom checkboxes for stress boxes
 */
input[type="checkbox"].stressBox {
	display: none;
}

input[type="checkbox"].stressBox + label {
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-image: url(../img/checkbox.png);
	background-origin: padding-box;
	padding: 0 3px;
}

input[type="checkbox"].stressBox:checked + label {
	background-position: -26px 0px;
}
input[type="checkbox"][disabled="disabled"].stressBox + label {
	background-position: -52px 0px;
}

input.stressBox.leftParen + label {
	background-position: 0px -20px;
}
input.stressBox.leftParen:checked + label {
	background-position: -26px -20px;
}

input.stressBox.rightParen + label {
	background-position: 0px -40px;
}
input.stressBox.rightParen:checked + label {
	background-position: -26px -40px;
}

input.stressBox.leftParen.rightParen + label {
	background-position: 0px -60px;
}
input.stressBox.leftParen.rightParen:checked + label {
	background-position: -26px -60px;
}

/*
 * Fine-tune sizes on various tables
 */

div#stressBlock {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: vertical;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;

	width: 100%;
}

#stressBlock .track {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: horizontal;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;

	-webkit-box-pack: justify;
	-moz-justify-content: space-between;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;

	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-lines: multiple;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;

	margin: 3px 0;
}

#stressBlock .rowHeader {
	width: 100px;
	font-weight: bold;
	text-align: left;

/*	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-lines: multiple;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-box-orient: vertical;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;*/
}

#stressBlock .colHeader {
	font-weight: bold;
	text-align: center;
	width: 22px;
}

#stressBlock .boxes {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: horizontal;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;

	-webkit-box-pack: justify;
	-moz-justify-content: space-around;
	-ms-flex-pack: distribute;
	-webkit-justify-content: space-around;
	justify-content: space-around;

	/*-webkit-flex: 1;*/
	-moz-flex-grow: 1;
	-ms-flex: 1 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;

	padding: 0 2px;
}

#stressBlock .box {
	margin: 0 -2px;
}

#stressEditBlock span, #stressEditBlock label {
	font-size: 10pt;
}

#stressEditBlock .track {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: horizontal;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;

	-webkit-box-pack: justify;
	-moz-justify-content: space-between;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;

	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	margin: 3px 0;
}

#stressEditBlock .section {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-orient: vertical; 
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}

#stressEditBlock .button-section {
	width: 30px;
}

#stressEditBlock input[type=text] {
	width: 90px;
}

#stressEditBlock input[type=number] {
	width: 50px;
}

#conseqBlock {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: vertical; 
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;

	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-pack: justify;
	-moz-justify-content: space-between;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

#conseqBlock .row {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-pack: justify;
	-moz-justify-content: space-between;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;

	-webkit-box-orient: horizontal; 
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;

	padding-top: 5px;
	padding-bottom: 5px;
	width: 95%;
}

#conseqBlock .top-divider {
	border-top: solid lightgrey 1px;
}

#conseqBlock .vertgroup {
	text-align: left;
}

#conseqBlock .horizgroup {
	max-width: 50%;

	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

#conseqBlock .aspect {
	text-align: right;
	max-width: 50%;
	font-family: 'Metamorphous',cursive;
	font-size: 12pt;
	vertical-align: middle;
	border: none;
	resize: none;
	margin: 0;
	padding: 0;
}

#conseqBlock .removeButton {
	margin-right: 5px;
	width: 15px;
	height: 15px;
	flex-shrink: 0;
}

#conseqBlock .grey {
	color: lightgrey;
}

#conseqBlock .header {
	font-weight: bold;
}

#conseqBlock .subtitle {
	font-size: 80%;
}

table#skillTable td, table#skillTable th {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}

table#skillTable th {
	width: 125px;
	text-align: left;
	vertical-align: top;
}

table#powerTable {
	text-align: left;
}

table#powerTable thead th {
	padding-bottom: 0px;
}

table#powerTable .mainRow {
	padding-top: 5px;
}

table#powerTable .mainRow:first-child {
	text-align: right;
	padding-right: 10px;
}

p.descriptionLine {
	font-size: 80%;
	padding-left: 10px;
	text-indent: -10px;
}

.spellmod {
	margin: 1px;
	cursor: pointer;
	line-height: 1.5em;
}

.spellmod input.hide[type='checkbox'] + label {
	background-color: white;
	color: black;

	border: solid black 1px;
	border-radius: 3px;
	padding-left: 2px;
	padding-right: 2px;
}

.spellmod input.hide[type='checkbox']:checked + label {
	background-color: #2a2a5a;
	color: white;
}

#calc input.hide[type='checkbox'] {
	display: none;
}

.subheader {
	font-size: 14pt;
	font-style: italic;
	margin-bottom: 5px;
}

/*#calc, #rotes {
	text-align: left;
}*/

#calc .rule-row {
	display: -webkit-flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#calc .if {
	max-width: 50%;
	text-align: right;
}

