.banner h1 {
	font-family: 'Denk One', sans-serif;
}

.banner h2 {
	font-family: 'Pathway Gothic One', sans-serif;
	font-weight: normal;
}

.flexrow {
	width: 98%;
	margin: 10px 0;

	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-pack: justify;
	-moz-justify-content: space-between;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.banner {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-orient: vertical;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;

	font-size: 2.0em;
	padding: 18px;
}
.banner > * {
	margin: 10px;
	text-align: center;
}

/*
 * Other colors:
 * #19202c
 * #192233
 * #394966
 * #3e4c66
 * #10192a
 */
