html {
	height: 100%;
}

body {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-pack: center;
	-moz-justify-content: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;

	margin: 0;
	width: 100%;
	min-height: 100%;
	background-color: #000000;
	color: #ffffff;

	font-family: 'Armata', sans-serif;
}

.banner h1 {
	font-family: 'Denk One', sans-serif;
}

.banner h2 {
	font-family: 'Pathway Gothic One', sans-serif;
	font-weight: normal;
}

a {
	color: inherit;
}

a:link, a:visited {
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}

p.caption {
	font-size: 0.7em;
	color: #555;
}

div.error, div.warning, div.info {
	margin: 0;
	text-align: center;
	border-radius: 5px;
	border: solid grey 1px;
	color: black;
	padding: 15px;
}

div.error {
	border-color: red;
	background-color: pink;
}

div.warning {
	border-color: gold;
	background-color: beige;
}

div.info {
	border-color: blue;
	background-color: lightcyan;
}

p.error, input.error {
	color: red;
}

.wrapper {
	background-color: #2a2a5a;
	background-image: linear-gradient(#2a2a5a, #0f0f20);
	width: 950px;
	z-index: 1;

	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: vertical; 
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;

	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-ms-flex: 0 1 950px;
}

.navbar {
	color: white;
	width: 100%;
	padding: 15px 0;
	font-family: 'Denk One', sans-serif;
	border-bottom: solid grey 1px;

	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: horizontal;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;

	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-pack: justify;
	-moz-justify-content: space-between;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.navbar .itemgroup {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: horizontal;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.navbar .navitem {
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
}

.content {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: vertical;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;

	width: 95%;
	min-height: 700px;
}

.content-block {
	margin: 15px 0;
}

.normalbox {
	background-color: white;
	color: black;
	border-radius: 5px;
	padding: 10px; 
}
.normalbox a:link, .normalbox a:visited,
.titledbox a:link, .titledbox a:visited,
.sheet-panel a:link, .sheet-panel a:visited {
	color: blue;
}

.titledbox {
	border-radius: 5px;
	border: solid grey 1px;
	background-color: white;
	color: black;
	margin: 10px auto;
	overflow: hidden;
	max-width: 360px;
	
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: vertical;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.titledbox .title {
	background-color: #313150;
	background-image: linear-gradient(#313150, #000000);
	color: white;
		padding: 10px;
	font-weight: bold;
}

.titledbox .inner {
	margin: 20px;
}

/*#login-box, #register-box {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	max-width: 360px;
}*/

#login-box .inner, #register-box .inner {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: vertical;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.titledbox .inner form input {
	display: block;
}

/*#login-box label, #login-box input:not([type=submit]):not([type=file]) {
	margin: 10px 0;
}*/

.titledbox input[type=email], .titledbox input[type=password], .titledbox input[type=text] {
	width: 98%;
	height: 20px;
	margin: 10px 0;
}

.titledbox input[type=submit] {
	padding: 7px 10px;
}

hr {
	width: 100%;
	margin: 15px 0;
}

.flexrow {
	width: 98%;
	margin: 10px 0;

	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-pack: justify;
	-moz-justify-content: space-between;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.banner {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-orient: vertical;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;

	font-size: 2.0em;
	padding: 18px;
}
.banner > * {
	margin: 10px;
	text-align: center;
}

.footer {
	font-family: 'Denk One', sans-serif;
	margin-top: 15px;
	padding: 15px 0;
	border-top: solid grey 1px;
	width: 100%;

	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: horizontal;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;

	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-pack: center;
	-moz-justify-content: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.footer > * {
	padding: 0 12px;
}

.footer a:link, .footer a:visited {
	color: inherit;

/*
 * Other colors:
 * #19202c
 * #192233
 * #394966
 * #3e4c66
 * #10192a
 */
