if logged_user == owner
	#charnav.navbar(ng-app='charsheet')
		ul.navmenu
			li
				a Panels
					span.subarrow
				ul
					li
						a(href='printable') Printer-friendly
					li: hr
					li
						a Optional Panels
							span.subarrow
						ul
							li
								input(type='checkbox', dgy-notify, ng-model='data.notes.enabled')
								a(href='#notes') Notes
							li
								input(type='checkbox', dgy-notify, ng-model='data.skills.is_shifter')
								a(href='#skills') Shapeshifter
							//li
								input(type='checkbox')
								a(href='#invent') Inventory
							//li
								input(type='checkbox')
								a(href='#rotes') Spellcaster/Rotes
							//li
								input(type='checkbox')
								a(href='#spellcalc') Spellcaster/Calculator
					li: a(href='#aspects') Aspects
					li: a(href='#skills') Skills
					li: a(href='#stress') Stress
					li: a(href='#conseq') Consequences
					li: a(href='#totals') Totals
					li: a(href='#powers') Stunts & Powers

		.navitem: a(href='javascript:;', ng-class='{dirty: dirty}', ng-click='data.$save()') Save

