#skills.sheet-panel(ng-controller='SkillCtrl', ng-class='{dirty: dirty}')
	a#skills
	h2.panelHeader= __('charsheet.headers.skills')
		span(ng-show='data.skills.is_shifter')  (
			input#shifter(type='checkbox', ng-model='fields.shifted')
			label(for='shifter')
			| )
		input.iconButton(type='image', ng-click='editing=!editing', src='/static/img/glyphicons/glyphicons_150_edit.png')

	label(ng-show='editing') System 
		select(ng-model='data.skills.system')
			option(value='columns') Columns (DFRPG/FAE)
			option(value='pyramid') Pyramid (Fate)
			//option(value='modes') Modes (Atomic Robo)

	label(ng-show='editing') Shapeshifter 
		input(type='checkbox', ng-model='data.skills.is_shifter')
	
	p(ng-show='editing')
		= __('charsheet.skillhelper.f1')
		br
		= __('charsheet.skillhelper.f2')

	#skillBlock
		.row(dgy-droppable='editing', dgy-drop='dropHandler', ng-repeat='level in presOrder()', ng-hide='!editing && $last')
			.fieldLabel {{label(level)}}
			.skillList
				.skill.noselect(dgy-draggable='editing', ng-repeat='skill in skills(level) track by $index')
					span {{skill}}
					img(ng-show='editing', src='/static/img/glyphicons/glyphicons_186_move.png', style='width: 10px; height: 10px;')
					span(ng-hide='$last') , 
		.row.killer(ng-show='editing', dgy-droppable='true', dgy-drop='dropHandler')
			.fieldLabel Delete Skill

	form(ng-show='editing', ng-submit='addSkill(newSkill); newSkill=""')
		input#newSkill(type='text', ng-model='newSkill')
		input(type='submit', value='Add skill')
	form(ng-show='editing && noSkills()', ng-submit='addSkillSet(skillset)')
		select(ng-model='skillset')
			option(value='dfrpg') Dresden Files RPG
			option(value='core') Fate Core
			option(value='fae') Fate Accelerated
		input(type='submit', value='Add Skill Set')

	p#validSkillLadder(ng-show='editing') {{valid()}}

	.diceroller
		.die: span &#8226;
		.die: span &#8226;
		.die: span &#8226;
		.die: span &#8226;
		.total: span +0


