#skills.sheet-panel(ng-controller='SkillCtrl', ng-class='{dirty: dirty}')
	a#skills
	h2.panelHeader= __('charsheet.headers.skills')
		span(ng-show='data.skills.is_shifter')  (
			input#shifter(type='checkbox', ng-model='shifted')
			label(for='shifter')
			| )
		input.iconButton(type='image', ng-click='editing=!editing', src='/static/img/glyphicons/glyphicons_150_edit.png')

	p(ng-show='editing')
		= __('charsheet.skillhelper.f1')
		br
		= __('charsheet.skillhelper.f2')

	#skillBlock
		.row(dgy-droppable='editing', dgy-drop='dropHandler', ng-repeat='level in presOrder()', ng-hide='!editing && $last')
			.fieldLabel {{label(level)}}
			.skillList
				.skill.noselect(dgy-draggable='editing', ng-repeat='skill in skills(level)')
					span {{skill}}
					img(ng-show='editing', src='/static/img/glyphicons/glyphicons_186_move.png', style='width: 10px; height: 10px;')
					span(ng-hide='$last') , 

	form(ng-show='editing', ng-submit='addSkill(newSkill); newSkill=""')
		input#newSkill(type='text', ng-model='newSkill')
		input(type='submit', value='Add skill')

	p#validSkillLadder(ng-show='editing') {{valid()}}

	.diceroller
		.die: span &#8226;
		.die: span &#8226;
		.die: span &#8226;
		.die: span &#8226;
		.total: span +0


