#totals.sheet-panel(ng-controller='TotalsCtrl', ng-class='{dirty: dirty}')
	a#totals
	input.iconButton(type='image', src='/static/img/glyphicons/glyphicons_150_edit.png', style='left: 330px',
			style='position: absolute; right: 8px;', ng-click='editing=!editing')

	img#star(src='/static/img/pentacle.svg')

	#top-container.container
		#powerLevelContainer
			#powerLevel(ng-hide='editing')
				span Power Level:
				br
				span {{powerLevel()}}
			label(ng-show='editing') Skill Points:
				br
				input(type='number', dgy-notify, ng-model='data.totals.skills_total')

		#skillCapContainer
			#skillCap
				span Skill Cap:
				br
				span(ng-hide='editing') {{skillLabel(data.totals.skill_cap)}}
				input(type='number', min=1, max=8, dgy-notify, ng-show='editing', ng-model='data.totals.skill_cap')
			label(ng-show='editing')

	#mid-container.container
		#spent-container
			span#skillsSpent.bubble {{skillPointsSpent()}}
			span Skill Points Spent
		#available-container
			span#skillsAvailable.bubble {{skillPointsAvailable()}}
			span Available

	#bottom-container.container
		.row
			span#baseRefresh.bubble.doubleBubble(ng-hide='editing') {{data.totals.base_refresh}}
			input.bubble.doubleBubble(type='number', min=0, dgy-notify, ng-show='editing', ng-model='data.totals.base_refresh')
			span Base Refresh Level
		.row
			span#adjustedRefresh.bubble.doubleBubble {{adjustedRefresh()}}
			span Adjusted Refresh
		.row
			span#fatePoints.bubble.doubleBubble(ng-hide='editing') {{data.totals.fate_points}}
			input.bubble.doubleBubble(type='number', min=0, dgy-notify, ng-show='editing', ng-model='data.totals.fate_points')
			span Fate Points



