extends index

block title
	if /^\/pre-activate/.test(page)
		title Activate your account | ToonStore.net
	else if /^\/activate\/[0-9a-f]{32}/.test(page)
		title Choose a password | ToonStore.net

block append includes
	script(src='/static/js/zxcvbn-async.js')
	script(src='/static/js/activate.js')

block content

	if /^\/pre-activate/.test(page)

		.content-block: .titledbox
			.title: span Email verification
			.inner
				if query.t == 'register'
					p Thank you for joining ToonStore! We have emailed you a link to activate
						| your account. Click the link and follow the instructions to complete
						| your registration.
				else
					p Your password reset request has been received. We have emailed you a link,
						| please click the link to change your password.

				p Note that it can take a few minutes to get the email. If you don't see it, 
					| don't forget to check your spam folder.

	else if page == '/passreset'

		.content-block: .titledbox
			.title: span Reset password
			.inner
				p Type in your email address below, and we will email you a link to reset your password.
				form(method='POST')
					label(for='email') E-mail
					input#email(type='email', name='email', required)

					.flexrow
						input(type='submit', value='Submit')


	else

		.content-block: .titledbox
			.title: span Set your password
			.inner
				p Type your new password in the fields below. The time to crack is an indicator
					| of how strong your password is. Good passwords should take at least a few
					| years to crack. If the meter is green or blue you're in good shape.

				form(method='POST', onsubmit='return validate();')
					label(for='password') Password
					input#password(type='password', name='password', required, onkeyup='checkPass();')
					p.caption#passStrength Time to crack: 
						span ???

					label(for='confirm') Confirm password
					input#confirm(type='password', name='confirm', required, onkeyup='checkPass();')
					p.caption#passMatch

					.flexrow
						input(type='submit', value='Submit')
						p.caption#submitMessage
