extends theme

block title
	title= toonName + ' - ToonStore'

block append includes
	link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Metamorphous')
	link(rel='stylesheet', type='text/css', href='/css/charsheet.css')
	script(src='/js/knockout-2.2.1.js')
	script(src='/js/charsheet.js')
	script.
		$(document).ready( initialize );

block content

	section#general
		p.sectionHeader(data-bind='text: name')
		p (
			span(data-bind='text: player')
			)

	section#aspects(data-bind='with: aspects')
		p.sectionHeader Aspects

		.field
			p.fieldLabel High Concept:
			p(data-bind='text: high_concept.name')

		.field
			p.fieldLabel Trouble:
			p(data-bind='text: trouble.name')

		.field
			p.fieldLabel Other Aspects:
			// ko foreach: aspects
			p(data-bind='text: name')
			// /ko

	section#stress
		p.sectionHeader Stress

		table#stressTable
			thead: tr
				th &nbsp;
				for i in [1,2,3,4,5,6,7,8]
					th= i

			tbody(data-bind='foreach: stress')

				tr
					th
						span(data-bind='text: name')
						br
						span(class='subtitle', data-bind='text: "("+skill()+")"')

					// ko foreach: [0,1,2,3,4,5,6,7]
					td
						// ko if: $parent.boxes()[$data] != undefined
						input(type='checkbox', data-bind='attr: {id: $parent.name()+"-"+$data}, css: $parent.boxes()[$data].icon, checked: $parent.boxes()[$data].used')
						// /ko
						// ko ifnot: $parent.boxes()[$data] != undefined
						input.stressBox(type='checkbox', disabled='disabled', data-bind='attr: {id: $parent.name()+"-"+$data}')
						// /ko
						if logged_user == owner
							label(data-bind='attr: {for: $parent.name()+"-"+$data}')
						else
							label
					// /ko

				// ko foreach: armor
				tr
					th
						span.subtitle(data-bind='text: "Vs. "+vs')
					// ko foreach: boxes
					td
						input.stressBox(type='checkbox', data-bind='attr: {id: $parent.name+"-"+$index()}, checked: used')
						if logged_user == owner
							label(data-bind='attr: {for: $parent.name+"-"+$index()}')
						else
							label
					// /ko
				// /ko

	section#consequences
		p.sectionHeader Consequences				

		table#conseqTable
			thead
				tr
					th Type
					th P/M/S
					th Stress
					th Used?
					th Aspect

			tbody(data-bind='foreach: consequences')
				tr
					td(data-bind='text: severity')
					td(data-bind='text: mode')
					td(data-bind='text: magnitude')
					td
						input.stressBox(type='checkbox', data-bind='attr: {id: "conseq"+$index()}, checked: used')
						if logged_user == owner
							label(data-bind='attr: {for: "conseq"+$index()}')
						else
							label
					td(data-bind='text: aspect')


	section#totals(data-bind='with: totals')

		img#star(src='/img/pentacle.png')
		#borderOcclude

		p#powerLevel Power Level:
			br
			// ko text: power_level
			// /ko

		p#skillCap Skill Cap:
			br
			// ko text: skill_cap_text
			// /ko

		p#skillsSpent.bubble(data-bind='text: skills_spent') 
		p.label Skill Points Spent
		p#skillsAvailable.bubble(data-bind='text: skills_available')
		p.label Available

		p#baseRefresh.bubble.doubleBubble(data-bind='text: base_refresh')
		p.label Base Refresh Level
		p#adjustedRefresh.bubble.doubleBubble(data-bind='text: adjusted_refresh')
		p.label Adjusted Refresh
		p#fatePoints.bubble.doubleBubble(data-bind='text: fate_points')
		p.label Fate Points

//-
	section#skills
		p.sectionHeader Skills

		table#skillTable
			tbody(data-bind='foreach: skills.skill_sets')
				tr
					th(data-bind='text: level_text')
					td: p(data-bind='text: skills.sort().join(", ")')


	section#powers
		p.sectionHeader Stunts & Powers

		table#powerTable
			thead: tr
				th Cost
				th Ability

			tbody(data-bind='foreach: powers')
				tr
					td.mainRow(data-bind='text: cost')
					td.mainRow(data-bind='text: name')
				tr(data-bind='if: description')
					td &nbsp;
					td: p(data-bind='foreach: clean_description')
						span(data-bind='text: $data')
						br
				tr(data-bind='if: $index() == $root.powers.length-1')
					td.mainRow(style='border-top: solid black 1px;', data-bind='text: $root.powers.total')
					td.mainRow Total Refresh Adjustment
