extends index

block title
	title= toonName + ', ' + toonConcept + ' | ToonStore.net'

block append styles
	link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Metamorphous&subset=latin,latin-ext')
	link(rel='stylesheet', type='text/css', href='/static/css/charsheet.css')
	link(rel='stylesheet', type='text/css', href='/static/css/jquery-ui-1.10.3.custom.css')

block append includes
	script(src='/static/js/jquery-ui-1.10.3.custom.js')
	script(src='/static/js/jquery.ui.touch-punch.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-sanitize.js')
	script(src='/static/js/char-extras.js')
	script(src='/static/js/char-controllers.js')
	script(src='/static/js/markdown.js')
	script.
		overrideUserRedirect = true;
		$(document).ready(function(){
			$('.navbar > ul.navmenu').menu({position: {collision: 'flipfit'}});
		});

block append header

	if logged_user == owner
		#charnav.navbar
			ul.navmenu
				li
					a Panels
						span.subarrow
					ul
						li
							a Optional Panels
								span.subarrow
							ul
								li
									input(type='checkbox', dgy-notify, ng-model='data.notes.enabled')
									a(href='#notes') Notes
								li
									input(type='checkbox', dgy-notify, ng-model='data.skills.is_shifter')
									a(href='#skills') Shapeshifter
								//li
									input(type='checkbox')
									a(href='#invent') Inventory
								//li
									input(type='checkbox')
									a(href='#rotes') Spellcaster/Rotes
								//li
									input(type='checkbox')
									a(href='#spellcalc') Spellcaster/Calculator
						li: a(href='#aspects') Aspects
						li: a(href='#skills') Skills
						li: a(href='#stress') Stress
						li: a(href='#conseq') Consequences
						li: a(href='#totals') Totals
						li: a(href='#powers') Stunts & Powers

			.navitem: a(href='javascript:;', ng-class='{dirty: dirty}', ng-click='data.$save()') Save

block content

	.sheet-panel-group

		#general.sheet-panel(ng-controller="GeneralCtrl", ng-class='{dirty: dirty}')
			p.sectionHeader
				span(ng-hide='editing') {{data.name}}
				input(type='text', dgy-notify, ng-show='editing', ng-model="data.name")
				if logged_user == owner
					input.iconButton(type='image', src='/static/img/glyphicons/glyphicons_150_edit.png', ng-click='editing = !editing')
			div
				span(ng-hide='editing') ({{data.player}})
				input(type='text', dgy-notify, ng-show='editing', ng-model='data.player')

			div#avatar
				form(enctype='multipart/form-data', ng-show='editing')
					input(name='avatar', type='file', accept='image/*', onchange='uploadAvatar()')
				div#imgContainer
					img(src='avatar', onerror='if(this.src!="/static/img/no-avatar.png")this.src="/static/img/no-avatar.png"')


		#aspects.sheet-panel(ng-controller='AspectCtrl', ng-class='{dirty: dirty}')
			a#aspects
			p.sectionHeader Aspects
				if logged_user == owner
					input.iconButton(type='image', src='/static/img/glyphicons/glyphicons_150_edit.png', ng-click='editing = !editing')

			.field
				p.fieldLabel High Concept:
				input(type='text', dgy-notify, ng-show='editing', ng-model='data.aspects.high_concept.name')
				textarea(placeholder='Description', dgy-notify, ng-show='editing', ng-model='data.aspects.high_concept.description')

				div(dgy-accordion='data.aspects.high_concept.description', ng-hide='editing')
					p {{data.aspects.high_concept.name}}
					p.description {{data.aspects.high_concept.description}}

			.field
				p.fieldLabel Trouble:
				input(type='text', dgy-notify, ng-show='editing', ng-model='data.aspects.trouble.name')
				textarea(placeholder='Description', dgy-notify, ng-show='editing', ng-model='data.aspects.trouble.description')
				div(dgy-accordion='data.aspects.trouble.description', ng-hide='editing')
					p {{data.aspects.trouble.name}}
					p.description {{data.aspects.trouble.description}}

			.field
				p.fieldLabel Other Aspects:
				div(dgy-accordion='aspect.description', ng-hide='editing', ng-repeat-start='aspect in data.aspects.aspects')
					p {{parseAspect(aspect.name).name}}
					p.description {{aspect.description}}

				div(ng-show='editing', ng-repeat-end)
					input(type='text', dgy-notify, ng-model='aspect.name')
					input.iconButton(type='image', ng-click='removeAspect($index)',
						style='width: 15px; height: 15px;', src='/static/img/glyphicons/glyphicons_192_circle_remove.png')
					textarea(placeholder='Description', dgy-notify, ng-show='editing', ng-model='aspect.description')

			input.iconButton(type='image', ng-show='editing', src='/static/img/glyphicons/glyphicons_190_circle_plus.png', ng-click='addAspect()')


	.sheet-panel-group

		#skills.sheet-panel(ng-controller='SkillCtrl', ng-class='{dirty: dirty}')
			a#skills
			p.sectionHeader Skills
				span(ng-show='data.skills.is_shifter')  (
					input#shifter(type='checkbox', ng-model='shifted')
					label(for='shifter')
					| )
				if logged_user == owner
					input.iconButton(type='image', ng-click='editing=!editing', src='/static/img/glyphicons/glyphicons_150_edit.png')

			p(ng-show='editing')
				| Drag skills to rearrange
				br
				| Drop on +0 to remove

			#skillBlock
				.row(dgy-droppable='editing', dgy-drop='dropHandler', ng-repeat='level in presOrder()', ng-hide='!editing && $last')
					.fieldLabel {{label(level)}}
					.skillList
						.skill.noselect(dgy-draggable='editing', ng-repeat='skill in skills(level)')
							span {{skill}}
							img(ng-show='editing', src='/static/img/glyphicons/glyphicons_186_move.png', style='width: 10px; height: 10px;')
							span(ng-hide='$last') , 

			form(ng-show='editing', ng-submit='addSkill(newSkill); newSkill=""')
				input#newSkill(type='text', ng-model='newSkill')
				input(type='submit', value='Add skill')

			p#validSkillLadder(ng-show='editing') {{valid()}}


		#totals.sheet-panel(ng-controller='TotalsCtrl', ng-class='{dirty: dirty}')
			a#totals
			if logged_user == owner
				input.iconButton(type='image', src='/static/img/glyphicons/glyphicons_150_edit.png', style='left: 330px',
					style='position: absolute; right: 8px;', ng-click='editing=!editing')

			img#star(src='/static/img/pentacle.svg')

			#top-container.container
				#powerLevelContainer
					#powerLevel(ng-hide='editing')
						span Power Level:
						br
						span {{powerLevel()}}
					label(ng-show='editing') Skill Points:
						br
						input(type='number', dgy-notify, ng-model='data.totals.skills_total')

				#skillCapContainer
					#skillCap
						span Skill Cap:
						br
						span(ng-hide='editing') {{skillLabel(data.totals.skill_cap)}}
						input(type='number', min=1, max=8, dgy-notify, ng-show='editing', ng-model='data.totals.skill_cap')
					label(ng-show='editing')

			#mid-container.container
				#spent-container
					span#skillsSpent.bubble {{skillPointsSpent()}}
					span Skill Points Spent
				#available-container
					span#skillsAvailable.bubble {{skillPointsAvailable()}}
					span Available

			#bottom-container.container
				.row
					span#baseRefresh.bubble.doubleBubble(ng-hide='editing') {{data.totals.base_refresh}}
					input.bubble.doubleBubble(type='number', min=0, dgy-notify, ng-show='editing', ng-model='data.totals.base_refresh')
					span Base Refresh Level
				.row
					span#adjustedRefresh.bubble.doubleBubble {{adjustedRefresh()}}
					span Adjusted Refresh
				.row
					span#fatePoints.bubble.doubleBubble(ng-hide='editing') {{data.totals.fate_points}}
					input.bubble.doubleBubble(type='number', min=0, dgy-notify, ng-show='editing', ng-model='data.totals.fate_points')
					span Fate Points


	.sheet-panel-group

		#stress.sheet-panel(ng-controller='StressCtrl', ng-class='{dirty: dirty}')
			a#stress
			p.sectionHeader Stress
				if logged_user == owner
					input.iconButton(type='image', src='/static/img/glyphicons/glyphicons_150_edit.png', ng-click='editing=!editing')

			#stressBlock(ng-hide='editing')
				.track
					.rowHeader
					.boxes
						.colHeader(ng-repeat='i in [1,2,3,4,5,6,7,8]')
							span {{i}}

				div(ng-repeat='track in data.stress', ng-controller='StressTrackCtrl', style='margin-bottom: 5px;')
					.track
						.rowHeader
							span {{data.name}}
							br
							span.subtitle ({{data.skill}})
						.boxes
							.box(ng-repeat='box in data.boxes track by $index')
								input.stressBox(type='checkbox', id='{{data.name}}-{{data.skill}}-{{$index}}', dgy-notify, ng-model='data.boxes[$index]',
									ng-class='manageParens($index)', ng-disabled='box === null')
								if logged_user == owner
									label(for='{{data.name}}-{{data.skill}}-{{$index}}')
								else
									label

					.track(ng-repeat='armor in data.armor') Armor: {{armor.strength}} vs. {{armor.vs}}

			#stressEditBlock(ng-show='editing')

				div(ng-repeat='track in data.stress', ng-controller='StressTrackCtrl')
					.track
						.section
							input(type='text', dgy-notify, ng-model='data.name')
							input(type='text', dgy-notify, ng-model='data.skill')
						.section
							label Strength
							input(type='number', dgy-notify, ng-model='data.strength')
						.section
							label Tough
							input(type='number', dgy-notify, ng-model='data.toughness')
						.button-section
							input.iconButton(type='image', src='/static/img/glyphicons/glyphicons_270_shield.png', ng-click='addArmor()')
							input.iconButton(type='image', src='/static/img/glyphicons/glyphicons_192_circle_remove.png', ng-click='delete()')

					.track(ng-repeat='armor in data.armor')
						span  Armor:
						input(type='number', dgy-notify, ng-model='armor.strength')
						span  vs. 
						input(type='text', dgy-notify, ng-model='armor.vs')
						input.iconButton(type='image', src='/static/img/glyphicons/glyphicons_192_circle_remove.png', ng-click='data.armor.splice($index,1)')

					hr(ng-hide='$last')

			input.iconButton(type='image', ng-show='editing', src='/static/img/glyphicons/glyphicons_190_circle_plus.png', ng-click='addTrack()')


		#consequences.sheet-panel(ng-controller='ConsequenceCtrl', ng-class='{dirty: dirty}')
			a#conseq
			p.sectionHeader Consequences
				if logged_user == owner
					input.iconButton(type='image', src='/static/img/glyphicons/glyphicons_150_edit.png', ng-click='editing=!editing')

			#conseqBlock(ng-repeat='con in data.consequences | conseqSort')
				.row(ng-class='{"top-divider": !$first}')
					.horizgroup
						input.removeButton(type='image', ng-show='editing', ng-click='removeConsequence($index)', src='/static/img/glyphicons/glyphicons_192_circle_remove.png')
						.vertgroup
							.header(ng-hide='editing') {{con.severity}} ({{magnitude(con.severity)}})
							.subtitle(ng-hide='editing') {{con.mode}} Type
							select(dgy-notify, ng-show='editing', ng-model='con.severity')
								option(value='Mild') Mild (-2)
								option(value='Moderate') Moderate (-4)
								option(value='Severe') Severe (-6)
								option(value='Extreme') Extreme (-8)
							select(dgy-notify, ng-show='editing', ng-model='con.mode', ng-options='type for type in stressTypes()')

					if logged_user == owner
						resizingtextarea.aspect(dgy-notify, ng-model='con.aspect', placeholder='Unused')
					else
						resizingtextarea.aspect(dgy-notify, ng-model='con.aspect', placeholder='Unused', readonly='readonly')

			input.iconButton(type='image', ng-show='editing', src='/static/img/glyphicons/glyphicons_190_circle_plus.png', ng-click='addConsequence()')

	.sheet-panel-group

		#powers.sheet-panel(ng-controller='PowersCtrl', ng-class='{dirty: dirty}')
			a#powers
			p.sectionHeader Stunts & Powers
				if logged_user == owner
					input.iconButton(type='image', src='/static/img/glyphicons/glyphicons_150_edit.png', ng-click='editing=!editing')

			table#powerTable
				thead: tr
					th Cost
					th Ability

				tbody

					tr(ng-repeat-start='power in data.powers', ng-hide='editing')
						td.mainRow {{power.cost}}
						td.mainRow {{power.name}}
					tr(ng-show='editing')
						td.mainRow: input(type='number', min='-8', max='8', dgy-notify, ng-model='power.cost')
						td.mainRow: input(type='text', dgy-notify, ng-model='power.name')
					tr(ng-hide='editing')
						td &nbsp;
						td: p.descriptionLine(ng-repeat='line in splitDescription($index)') {{line}}
					tr(ng-repeat-end, ng-show='editing')
						td: input.iconButton(type='image', dgy-notify, ng-click='removePower($index)', src='/static/img/glyphicons/glyphicons_192_circle_remove.png')
						td: textarea(placeholder='Description', dgy-notify, ng-model='power.description')

					tr
						td.mainRow(style='border-top: solid black 1px;') {{totalAdjustment()}}
						td.mainRow Total Refresh Adjustment

			input.iconButton(type='image', dgy-notify, ng-show='editing', ng-click='addPower()', src='/static/img/glyphicons/glyphicons_190_circle_plus.png')


		#notes.sheet-panel(ng-controller='NotesCtrl', ng-show='data.notes.enabled', ng-class='{dirty:dirty}')
			a#notes
			p.sectionHeader Notes
				if logged_user == owner
					input.iconButton(type='image', src='/static/img/glyphicons/glyphicons_150_edit.png', ng-click='editing=!editing')

			div(ng-show='editing')
				p Text is styled with Markdown. Click out of the text box to update preview.
				div(dgy-accordion='true')
					a(href='javascript:;') A Brief Primer
					pre#primer
						| This is a header
						| ----------------
						| 
						| ## So is this
						| 
						| Paragraphs are separated by a blank line.
						| 
						| You can also **bold** and *italics*.
						| 
						| 1. Numeric lists start with a number.
						| 2. See? Easy!
						| 3. Subitems are indented 4 spaces
						|     * But this one is an unordered list
						|     * Another list item

				textarea#editor(dgy-notify, ng-model='data.notes.text')

			.inner(ng-hide='editing', ng-bind-html='toHtml(data.notes.text)')

