extends index

block title
	title= toonName + ' | Online Dresden Files RPG Character Hosting | ToonStore.net'

block append styles
	link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Metamorphous')
	link(rel='stylesheet', type='text/css', href='/static/css/charsheet.css')
	link(rel='stylesheet', type='text/css', href='/static/css/jquery-ui-1.10.3.custom.css')

block append includes
	script(src='/static/js/jquery-ui-1.10.3.custom.js')
	script(src='/static/js/jquery.ui.touch-punch.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.js')
	script(src='/static/js/char-controllers.js')
	script(src='/static/js/markdown.js')
	script.
		overrideUserRedirect = true;
		$(document).ready(function(){
			$('.navbar > ul.navmenu').menu({position: {collision: 'flipfit'}});
		});

block append header

	if logged_user == owner
		#charnav.navbar(ng-controller='GeneralCtrl')
			ul.navmenu
				li
					a Panels
						span.subarrow
					ul
						li
							a Optional Panels
								span.subarrow
							ul
								li
									input(type='checkbox')
									a(href='#notes') Notes
								li
									input(type='checkbox', ng-model='data.skills.is_shifter')
									a(href='#skills') Shapeshifter
								//li
									input(type='checkbox')
									a(href='#invent') Inventory
								//li
									input(type='checkbox')
									a(href='#rotes') Spellcaster/Rotes
								//li
									input(type='checkbox')
									a(href='#spellcalc') Spellcaster/Calculator
						li: a(href='#aspects') Aspects
						li: a(href='#skills') Skills
						li: a(href='#stress') Stress
						li: a(href='#conseq') Consequences
						li: a(href='#totals') Totals
						li: a(href='#powers') Stunts & Powers

			.navitem: a(href='javascript:;', ng-click='data.$save()') Save

block content

	.sheet-panel-group

		#general.sheet-panel(ng-controller="GeneralCtrl")
			p.sectionHeader
				span(ng-hide='editing') {{data.name}}
				input(type='text', ng-show='editing', ng-model="data.name")
				if logged_user == owner
					input.iconButton(type='image', src='/static/img/glyphicons/glyphicons_150_edit.png', ng-click='editing = !editing')
			div
				span(ng-hide='editing') ({{data.player}})
				input(type='text', ng-show='editing', ng-model='data.player')

			div#avatar
				form(enctype='multipart/form-data', ng-show='editing')
					input(name='avatar', type='file', accept='image/*', onchange='uploadAvatar()')
				div#imgContainer
					img(src='avatar', onerror='if(this.src!="/static/img/no-avatar.png")this.src="/static/img/no-avatar.png"')


		#aspects.sheet-panel(ng-controller='AspectCtrl')
			a#aspects
			p.sectionHeader Aspects
				if logged_user == owner
					input.iconButton(type='image', src='/static/img/glyphicons/glyphicons_150_edit.png', ng-click='editing = !editing')

			.field
				p.fieldLabel High Concept:
				p(ng-hide='editing') {{data.aspects.high_concept.name}}
				input(type='text', ng-show='editing', ng-model='data.aspects.high_concept.name')

			.field
				p.fieldLabel Trouble:
				p(ng-hide='editing') {{data.aspects.trouble.name}}
				input(type='text', ng-show='editing', ng-model='data.aspects.trouble.name')

			.field
				p.fieldLabel Other Aspects:
				p(ng-hide='editing', ng-repeat-start='aspect in data.aspects.aspects') {{aspect.name}}
				div(ng-show='editing', ng-repeat-end)
					input(type='text', ng-model='aspect.name')
					input.iconButton(type='image', ng-click='removeAspect($index)',
						style='width: 15px; height: 15px;', src='/static/img/glyphicons/glyphicons_192_circle_remove.png')

			input.iconButton(type='image', ng-show='editing', src='/static/img/glyphicons/glyphicons_190_circle_plus.png', ng-click='addAspect()')


	.sheet-panel-group

		#skills.sheet-panel(ng-controller='SkillCtrl')
			a#skills
			p.sectionHeader Skills
				span(ng-show='data.skills.is_shifter')  (
					input#shifter(type='checkbox', ng-model='shifted')
					label(for='shifter')
					| )
				if logged_user == owner
					input.iconButton(type='image', ng-click='editing=!editing', src='/static/img/glyphicons/glyphicons_150_edit.png')


			p(ng-show='editing')
				| Drag skills to rearrange
				br
				| Drop on +0 to remove

			//table#skillTable
				tbody(data-bind='foreach: skills.sets')
					tr(data-bind='if: $root.skills.editing() || index != 0, droppable: $root.skills.editing')
						th(data-bind='text: level_text')
						td: p(data-bind='foreach: skills')
							span(data-bind='visible: $index() != 0') , 
							span(data-bind='draggable: $root.skills.editing')
								span(data-bind='text: $data')
								img(data-bind='visible: $root.skills.editing', src='/static/img/glyphicons/glyphicons_186_move.png', style='width: 10px; height: 10px;')
			
			#skillBlock
				.row(ng-repeat='i in presOrder()')
					.fieldLabel {{label(i)}}
					.skillList
						.skill(ng-if='shifted', ng-repeat='skill in data.skills.shifted_lists[i]')
							span {{skill}}
							img(ng-show='editing', src='/static/img/glyphicons/glyphicons_186_move.png', style='width: 10px; height: 10px;')
							span(ng-hide='$last') , 
						.skill(ng-if='!shifted', ng-repeat='skill in data.skills.lists[i]')
							span {{skill}}
							img(ng-show='editing', src='/static/img/glyphicons/glyphicons_186_move.png', style='width: 10px; height: 10px;')
							span(ng-hide='$last') , 

			div(ng-show='editing')
				input#newSkill(type='text')
				input(type='button', value='Add skill', ng-click='addSkill()')
				p#validSkillLadder(data-bind='text: skills.valid')


