extends theme

block title
	title= toonName + ' - ToonStore'

block append includes
	link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Metamorphous')
	link(rel='stylesheet', type='text/css', href='/css/charsheet.css')
	script(src='/js/knockout-2.2.1.js')
	script(src='/js/viewmodel.js')
	script(src='/js/charsheet.js')
	script.
		$(document).ready( initialize );

block content

	if logged_user == owner
		input#save(type='button', value='Save', onclick='pushToServer()')

	if logged_user == owner
		.editor
			.field
				label Character name:
					input(type='text', value='Charcter Name', data-bind='value: name')
			.field
				label Player name:
					input(type='text', value='Player Name', data-bind='value: player')

	section#general
		p.sectionHeader(data-bind='text: name')
		p (
			span(data-bind='text: player')
			)

	if logged_user == owner

		.editor(data-bind='with: aspects')
			.field
				label High Concept:
					input(type='text', value='High Concept', data-bind='value: high_concept.name')
			.field
				label Trouble:
					input(type='text', value='Trouble', data-bind='value: trouble.name')
			.field
				p Other Aspects:
				div(data-bind='foreach: aspects')
					input(type='text', data-bind='value: name')
					a(href='javascript:;', data-bind='attr: {onclick: "removeAspect("+$index()+")"}') Remove
					br
				div
				a(href='javascript:;', data-bind='attr: {onclick: "addAspect()"}') Add
				

	section#aspects(data-bind='with: aspects')
		p.sectionHeader Aspects

		.field
			p.fieldLabel High Concept:
			p(data-bind='text: high_concept.name')

		.field
			p.fieldLabel Trouble:
			p(data-bind='text: trouble.name')

		.field
			p.fieldLabel Other Aspects:
			// ko foreach: aspects
			p(data-bind='text: name')
			// /ko


	if logged_user == owner
		.editor

			table#stressEditTable
				thead
					th Type
					th Skill
					th Boxes
					th Toughness

				tbody(data-bind='foreach: stress')

					tr
						td: input(type='text', data-bind='value: name')
						td: input(type='text', data-bind='value: skill')
						td: input(type='number', min='1', max='8', data-bind='value: strength')
						td: input(type='number', min='0', data-bind='value: toughness, attr: {max: strength}')
						td: a(href='javascript:;', data-bind='attr: {onclick: "addArmorTo("+$index()+")"}') Add armor
						td: a(href='javascript:;', data-bind='attr: {onclick: "removeStressTrack("+$index()+")"}') Remove

					tr(data-bind='foreach: armor')
						td(colspan='5')
							span Armor: 
							input(type='number', min='0', style='width: 50px;', data-bind='value: strength')
							span vs.
							input(type='text', data-bind='value: vs')
						td: a(href='javascript:;', data-bind='attr: {onclick: "removeArmorFrom("+$parentContext.$index()+","+$index()+")"}') Remove

			p: a(href='javascript:;', onclick='addStressTrack()') Add stress track

	section#stress
		p.sectionHeader Stress

		table#stressTable
			thead: tr
				th &nbsp;
				for i in [1,2,3,4,5,6,7,8]
					th= i

			tbody(data-bind='foreach: stress')

				tr
					th
						span(data-bind='text: name')
						br
						span(class='subtitle', data-bind='text: "("+skill()+")"')

					// ko foreach: [0,1,2,3,4,5,6,7]
					td
						// ko if: $parent.boxes()[$data] != undefined
						input(type='checkbox', data-bind='attr: {id: $parent.name()+"-"+$parent.skill()+"-"+$data}, css: $parent.boxes()[$data].icon, checked: $parent.boxes()[$data].used')
						// /ko
						// ko ifnot: $parent.boxes()[$data] != undefined
						input.stressBox(type='checkbox', disabled='disabled', data-bind='attr: {id: $parent.name()+"-"+$parent.skill()+"-"+$data}')
						// /ko
						if logged_user == owner
							label(data-bind='attr: {for: $parent.name()+"-"+$parent.skill()+"-"+$data}')
						else
							label
					// /ko

				// ko foreach: armor
				tr
					td(colspan=9, data-bind='text: text')
				// /ko

	if logged_user == owner
		.editor
			table
				thead
					tr
						th Type
						th Track
				tbody(data-bind='foreach: sorted_consequences')
					tr
						td
							select(data-bind='value: severity')
								option(value='Mild') Mild
								option(value='Moderate') Moderate
								option(value='Severe') Severe
								option(value='Extreme') Extreme
						td
							select(data-bind='options: $root.stress_types, value: mode')
						td: a(href='javascript:;', data-bind='attr: {onclick: "removeConsequenceAt("+$index()+")"}') Remove
			a(href='javascript:;', onclick='addConsequence()') Add consequence

	section#consequences
		p.sectionHeader Consequences				

		table#conseqTable
			thead
				tr
					th Type
					th P/M/S
					th Stress
					th Used?
					th Aspect

			tbody(data-bind='foreach: sorted_consequences')
				tr
					td(data-bind='text: severity')
					td(data-bind='text: mode')
					td(data-bind='text: magnitude')
					td
						input.stressBox(type='checkbox', onchange='updateConseqAspect(this)', data-bind='attr: {id: "conseq"+$index()}, checked: used')
						if logged_user == owner
							label(data-bind='attr: {for: "conseq"+$index()}')
						else
							label
					td
						if logged_user == owner
							span.conseqAspectDisplay(data-bind='text: aspect')
							input.conseqAspectEdit(type='text', style='display: none; width: 100px;', data-bind='attr: {onkeypress: "finishConseqUpdate(event,"+$index()+")"}, value: aspect')
						else
							span(data-bind='text: aspect')

	if logged_user == owner
		.editor(data-bind='with: totals')

			label Skill Cap
				input(type='number', min=1, max=8, data-bind='value: skill_cap')
			br
			label Total Skill Points
				input(type='number', min=1, data-bind='value: skills_total')
			br
			label Base Refresh
				input(type='number', min=1, data-bind='value: base_refresh')
			br
			label Fate Points
				input(type='number', min=0, data-bind='value: fate_points')
			br


	section#totals(data-bind='with: totals')

		img#star(src='/img/pentacle.png')
		#borderOcclude

		p#powerLevel Power Level:
			br
			// ko text: power_level
			// /ko

		p#skillCap Skill Cap:
			br
			// ko text: skill_cap_text
			// /ko

		p#skillsSpent.bubble(data-bind='text: skills_spent') 
		p.label Skill Points Spent
		p#skillsAvailable.bubble(data-bind='text: skills_available')
		p.label Available

		p#baseRefresh.bubble.doubleBubble(data-bind='text: base_refresh')
		p.label Base Refresh Level
		p#adjustedRefresh.bubble.doubleBubble(data-bind='text: adjusted_refresh')
		p.label Adjusted Refresh
		p#fatePoints.bubble.doubleBubble(data-bind='text: fate_points')
		p.label Fate Points


	section#skills
		p.sectionHeader Skills
			if logged_user == owner
				input.editButton(type='image', src='/img/edit32.png',
					onclick='viewModel.skills.editing( !viewModel.skills.editing() )')

		table#skillTable
			tbody(data-bind='foreach: skills.skill_sets')
				tr(data-bind='if: $root.skills.editing() || index != 0')
					th(data-bind='text: level_text')
					td: p(data-bind='foreach: skills')
						span(data-bind='visible: $index() != 0') , 
						span(data-bind='text: $data')
						a(href='javascript:;', data-bind='visible: $root.skills.editing() && $parent.index < $root.totals.skill_cap(), attr: {onclick: "moveSkillTo(\'"+$data+"\', "+$parent.index+","+1+")"}') ↑
						a(href='javascript:;', data-bind='visible: $root.skills.editing() && $parent.index > 0, attr: {onclick: "moveSkillTo(\'"+$data+"\', "+$parent.index+","+-1+")"}') ↓
						
		div(data-bind='if: skills.editing()')
			input#newSkill(type='text')
			input(type='button', value='Add skill', onclick='addSkill()')
			p#validSkillLadder Valid

	section#powers
		p.sectionHeader Stunts & Powers
			if logged_user == owner
				input.editButton(type='image', src='/img/edit32.png',
					onclick='viewModel.powers.editing( !viewModel.powers.editing() )')

		table#powerTable
			thead: tr
				th Cost
				th Ability

			tbody

				// ko foreach: powers
				tr(data-bind='ifnot: $root.powers.editing')
					td.mainRow(data-bind='text: cost')
					td.mainRow(data-bind='text: name')
				tr(data-bind='if: $root.powers.editing')
					td.mainRow: input(type='number', min='-8', max='8', data-bind='value: cost')
					td.mainRow: input(type='text', data-bind='value: name')
				tr(data-bind='if: description() && !$root.powers.editing()')
					td &nbsp;
					td: p(data-bind='html: description')
				tr(data-bind='if: $root.powers.editing')
					td: a(href='javascript:;', data-bind='attr: {onclick: "removePower("+$index()+")"}') Remove
					td: textarea(data-bind='value: clean_description')

				// /ko

				tr
					td.mainRow(style='border-top: solid black 1px;', data-bind='text: $root.totals.refresh_adjustment')
					td.mainRow Total Refresh Adjustment

		a(href='javascript:;', onclick='addPower()', data-bind='visible: powers.editing') Add power


