extends index

block title
	title Contact Us | ToonStore.net

block content

	h1 Contact Us

	.content-block: .normalbox

		h3 Questions? Comments? Suggestions?

		p We're easy to get a hold of! You have a couple options:

		h4 Github

		p.
			The <a href='https://github.com/stevenvergenz/dfrpg-toonstore' target='_blank'>source code</a> for this site is all publicly available
			under the Apache 2.0 License, so you're welcome to start your own Toonstore for your group if you want to.
		
		p.
			We also use Github for bug reporting and feature requests. If you find a flaw in the site, or have an idea for a killer new feature, let us know!
			Submit an <a href='https://github.com/stevenvergenz/dfrpg-toonstore/issues' target='_blank'>issue report</a> and we'll get right on it!

		h4 Google+ Group

		p.
			Join the devs and other ToonStore users on our <a href='https://plus.google.com/communities/100638011667854470760'>Google+ group</a>
			to discuss the latest updates to the site, RPGs, characters, or anything else! We'd love to have your feedback!

		h4 Email

		p.
			If you want to contact us directly, you can email us at <a href='mailto:info@toonstore.net'>info@toonstore.net</a>.
