extends index

block title
	title Donate | ToonStore.net
	meta(name='description', content='How to donate to the maintenance of the ToonStore')

block content

	.content-block
		h1 Donate to the ToonStore

		.normalbox

			p.
				The ToonStore is, and always will be, a free service for fellow lovers of the art of roleplaying. That doesn't mean that it's free for everyone. In fact, the ToonStore costs about $250 USD a year to maintain in hosting and name registration costs, which is nothing to sneeze at. Any and all contributions are welcome to help defray the costs of running this site.

			h2 How to Donate

			p To avoid unnecessary fees, paperwork, currency conversions, international transactions, etc., I have decided to accept Bitcoin instead of a more traditional donation system. How does it work? I'm glad you asked!

			.imgcontainer
				.iframecontainer(style='width:560px;')
					iframe(width="560", height="315", src="//www.youtube.com/embed/Um63OQz3bjo", frameborder="0", allowfullscreen)

			p Basically, you can send money over the internet as if it were cash; no middlemen, no checks, no delays, and no private information (like a credit card number) changing hands.

			p You can change money for bitcoin at any of a number of exchanges. In the US, I recommend 
				a(href='//circle.com') Circle.com
				|  or 
				a(href='//coinbase.com') Coinbase.com
				| .


			h2 Where to Donate

			p You can support the ToonStore by donating to:

			div(style='display:flex; flex-direction:column; align-items:center;')
				img(src='/static/img/donate_qr.png')
				a(href='bitcoin:1CX5xJ3o4rXcNRTrWGd2zCmAMtpCXGZo78?label=ToonStore', style='font-family:monospace;') 1CX5xJ3o4rXcNRTr&#8203;WGd2zCmAMtpCXGZo78

			p On behalf of the ToonStore community, thank you for helping keep ToonStore online and serving a new generation of roleplayers.
