extends index

block title
	title Beginner's Guide | ToonStore.net

block content

	h1 Beginner's Guide

	.content-block: .normalbox

		h2 Before we get started...

		p Thanks for using the ToonStore! In order to help you get up to speed, this page is designed to teach you the basics of how to navigate character sheets and get the best use out of the ToonStore. If you still have questions after reading through, join the devs and other users at the 
			a(href='https://plus.google.com/communities/100638011667854470760') Google+ group
			|  to get your questions answered. Now on to the walkthrough!

		a#toc
		h2 Table of Contents

		ul
			li Character Management
			li: a(href='#backseat') Viewing, Sharing, and Back-seat Mode
			li Optional Components
			li Markdown Support
			li Panels
				ul
					li Titles and Character Portrait
					li Aspects
					li Skills
					li Number Crunching
					li Stress
					li Consequences
					li Stunts & Powers
					li Notes

		a#backseat
		h2 Viewing, Sharing, and Back-seat Mode

		p The whole point of the ToonStore is to enable easy sharing of character sheets. As such, sharing your sheet is easy. Just copy/paste the character link from the URL bar of your browser and send it out however you like (social media, forum post, email, etc.). This will only work for your public characters; private characters are only visible to their owners.

		.imgcontainer: img(src='/static/img/tutorial/url-bar.png')

		p People receiving your link will see a big banner at the top of the sheet saying that they are in back-seat mode. They can make changes to the sheet, but the changes are gone when the page is closed. This is useful if a player is absent from a gaming session and someone else is playing the character. They can still track stress, etc. at the table.

		p Characters also contain a link back to their owners' pages. Anyone can click this link to see other (public) characters created by the same user.
