extends index

block title
	title Beginner's Guide | ToonStore.net


block content

	h1 Beginner's Guide

	.content-block: .normalbox

		h2 Before we get started...

		p Thanks for using the ToonStore! In order to help you get up to speed, this page is designed to teach you the basics of how to navigate character sheets and get the best use out of the ToonStore. If you still have questions after reading through, join the devs and other users at the 
			a(href='https://plus.google.com/communities/100638011667854470760') Google+ group
			|  to get your questions answered. Now on to the walkthrough!


		a#toc
		h2 Table of Contents

		ul
			li: a(href='#management') Character Management
			li: a(href='#backseat') Viewing, Sharing, and Back-seat Mode
			li: a(href='#options') Optional Components
			li: a(href='#markdown') Markdown Support
			li Panels
				ul
					li Titles and Character Portrait
					li Aspects
					li Skills
					li Number Crunching
					li Stress
					li Consequences
					li Stunts & Powers
					li Notes


		a#management
		h2 Character Management

		p When you log in, the first thing you see is your list of characters. Each character features some basic information about the character along with a number of controls: Duplicate, Make Private/Public, and Delete. These options are only available on your own characters, with the exception of the Duplicate button. Any user may duplicate any other user's characters.

		.imgcontainer: img(src='/static/img/tutorial/management.png')

		p If a character is made private via the Make Private button, it will not appear in the character listing and be inaccessible to everyone except for the owner. Use the Make Public button to display a character again. This is a great feature for GMs that want quick access to NPCs without the player characters knowing about or seeing them.
		
		p For new users, this character listing is obviously blank. Click the "Create a new character" button at the top to make your first character. Fill out the basic information for the character where prompted, and hit Submit. If you chose a template for your character, then the character will be pre-populated with the powers and stats of that template.

		p: a(href='#') Back to top


		a#backseat
		h2 Viewing, Sharing, and Back-seat Mode

		p The whole point of the ToonStore is to enable easy sharing of character sheets. As such, sharing your sheet is easy. When viewing a character, just copy/paste the character link from the URL bar of your browser and send it out however you like (social media, forum post, email, etc.). This will only work for your public characters; private characters are only visible to their owners.

		.imgcontainer: img(src='/static/img/tutorial/url-bar.png')

		p People receiving your link will see a big banner at the top of the sheet saying that they are in back-seat mode. They can make changes to the sheet, but the changes are gone when the page is closed. This is useful if a player is absent from a gaming session and someone else is playing the character. They can still track stress, etc. at the table.

		p Characters also contain a link back to their owners' pages. Anyone can click this link to see other (public) characters created by the same user.

		p: a(href='#') Back to top


		a#optionals
		h2 Optional Components

		p Not all character sheet features are appropriate for all characters. The default look of the page mimics the published character sheets for the DFRPG, but alternatives are sometimes desirable. As such, there are a few optional features available via the Panels > Optional Panels menu.

		.imgcontainer: img(src='/static/img/tutorial/optionals.png')

		p The Notes option adds a free-form Markdown-enabled box to fill with whatever text-based data you wish. Rote spells, inventory, adventure logs, whatever you need!

		p The Shapeshifter option enables the creation of a second set of shapeshifted skills in the Skills panel. This will be addressed in the Skills section.

		p: a(href='#') Back to top


		a#markdown
		h2 Markdown Support

		p Many text fields in the ToonStore character sheet support Markdown, the formatting syntax used by Reddit, Github, and others. It is designed to be as intuitive and readable as possible, even in plain text. The full syntax can be found 
			a(href='http://daringfireball.net/projects/markdown/syntax') here
			| , but here's a quick overview:

		.sidebyside
			div: pre: code.
				Heading
				=======

				Subheading
				----------

				#### Heading 4

			| becomes
			div
				h1 Heading
				h2 Subheading
				h4 Heading 4

		hr

		.sidebyside
			div: pre: code.
				*emphasis* and
				**strong emphasis**
			| becomes
			div
				em emphasis
				|  and 
				strong strong emphasis

		hr

		.sidebyside
			div: pre: code
				| * Item 1
				| * Item 2
				|     * Subitem 1
				| * Item 3

			| becomes

			div: ul
				li Item 1
					ul: li Subitem 1
				li Item 2
				li Item 3

		hr

		.sidebyside
			div: pre: code.
				![Lifeson](/Derogatory/lifeson/avatar)
				[Lifeson](/Derogatory/lifeson/)

			| becomes
			div
				img(src='/Derogatory/lifeson/avatar', style='width: 100px;')
				a(href='/Derogatory/lifeson/') Lifeson

		p: a(href='#') Back to top


		a#panels
		h2 Panels

		p Just like the published character sheet, ToonStore character sheets are built of different sections that we call panels. Each panel should be recognizable to anyone that has played the DFRPG. However, there may be features available that are not immediately obvious, hence this section.

		p All panels have one thing in common though: the Edit button (
			img(src='/static/img/glyphicons/glyphicons_150_edit.png')
			| ). Clicking it will change the corresponding panel into editable fields, where you can put your character information. Clicking it again will return to classic view.

		h3 Titles and Character Portrait

		p This panel is pretty basic. It contains the character's name, the player's name (with link back to his user page), and the character portrait. 
