script
	$(function(){
		var pull = $('#pull');
		var menu = $('.itemgroup');
		$(pull).on('click', function(e) {
			e.preventDefault();
			menu.slideToggle();
		});
		$(window).resize(function(){
			var w = $(window).width();
			if(w > 320 && menu.is(':hidden')){
				menu.removeAttr('style');
			}
		});
	});


.navbar
	.itemgroup
		.navitem: a(href='/') Toon&#8203;Store
		//-.navitem Forum
		.navitem: a(href='/site/about') About
		.navitem: a(href='/site/contact') Contact Us
		if logged_user_email
			.navitem: a(href='/'+logged_user)= logged_user
			.navitem: a(href='javascript:;', onclick='logout()') Log Out
		else
			.navitem: a(href='/register') Register
			.navitem: a(href='/login') Log In
	a#pull(href='#') Menu
