extends index

block title
	title New Character - ToonStore

block append includes
	script(src='/js/formFocus.js')
	script.
		$(document).ready(function(){
			registerInputs();
		});

block content

	.content-block: .titledbox
		.title New character

		.inner
			form(action='/newtoon', method='post')

				label(for='name') Full name
				input#name(type='text', name='name')
				p.caption The character's name. Can be changed later.

				label(for='canon_name') Short name (also URL)
				input#canon_name(type='text', name='canon_name')
				p.caption Something short, identifiable, and unique amongst your characters. Last names usually suffice. This cannot be changed.

				label(for='concept') High concept
				input#concept(type='text', name='concept')
				p.caption The character's defining concept. Can be changed later.

				input(type='submit', name='submit')
