extends theme

block title
	title New Character - ToonStore

block append includes
	script(src='/js/formFocus.js')
	script.
		$(document).ready(function(){
			registerInputs();
		});

block content

	h1 New Character

	p Fill in the information below, and a blank character sheet will be generated for you.
	p NOTE: Though you can name your character anything you want, the short name must be unique among your characters.

	p#message.error= message

	form(action='/newtoon', method='post'): table
		tr
			th: label(for='name') *Name:
			td: input#name(type='text', name='name')
		tr
			th: label(for='canon_name') *Short name:
			td: input#canon_name(type='text', name='canon_name')
		tr
			th: label(for='concept') High concept:
			td: input#concept(type='text', name='concept')
		tr
			td: &nbsp;
			td: input(type='submit', name='submit')
