doctype html
html
	head
		title= toonName + ', ' + toonConcept + ' | ToonStore.net'
		link(rel='stylesheet', type='text/css', href='/static/css/printable.css')
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Metamorphous&subset=latin,latin-ext')
		link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Armata&subset=latin,latin-ext')
		link(rel='icon', type='image/png', href='/static/img/pentacle-simple.png')

		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.js')
		script(src='/static/js/char-extras.js')
		script(src='/static/js/char-controllers.js')

	body
		.page(ng-app='charsheet')
			.row
				.column: .sheet-panel
					span(style='font-size: 0.6em;') Character 
					span {{data.name}}
				.column: .sheet-panel(style='text-align: right;')
					span {{data.player}}
					span(style='font-size: 0.6em;')  Player

			.row
				.column
					#aspects.sheet-panel(ng-controller='AspectCtrl', style='height: 210px; max-height: 210px;')
						h2 Aspects

						h3 High Concept
						span.aspect {{data.aspects.high_concept.name}}

						h3 Trouble
						span.aspect {{data.aspects.trouble.name}}

						h3 Other Aspects
						span.aspect(ng-repeat='a in data.aspects.aspects') {{parseAspect(a.name).name}}

					#stress.sheet-panel
						h2 Stress

						table
							tr
								th
								for i in [1,2,3,4,5,6,7,8]
									th= i

							tr(ng-repeat='track in data.stress')
								th.rowHeader
									span.name {{track.name}}
									span.skill ({{track.skill}})
						//#stressBlock(ng-hide='editing')
							.track
								.rowHeader
								.boxes
									.colHeader(ng-repeat='i in [1,2,3,4,5,6,7,8]')
										span {{i}}

							div(ng-repeat='track in data.stress', ng-controller='StressTrackCtrl', style='margin-bottom: 5px;')
								.track
									.rowHeader
										span {{data.name}}
										br
										span.subtitle ({{data.skill}})
									.boxes
										.box(ng-repeat='box in data.boxes track by $index')
											input.stressBox(type='checkbox', id='{{data.name}}-{{data.skill}}-{{$index}}', dgy-notify, ng-model='data.boxes[$index]',
												ng-class='manageParens($index)', ng-disabled='box === null')
											if logged_user == owner
												label(for='{{data.name}}-{{data.skill}}-{{$index}}')
											else
												label

								.track(ng-repeat='armor in data.armor') Armor: {{armor.strength}} vs. {{armor.vs}}


					#conseq.sheet-panel(style='height: 170px;')
						h2 Consequences

					#totals.sheet-panel(style='height: 210px;')

				.column
					#skills.sheet-panel(style='height: 240px;')
						h2 Skills

					#powers.sheet-panel(style='height: 552px;')
						h2 Stunts & Powers
