doctype html
html
	head
		title= toonName + ', ' + toonConcept + ' | ToonStore.net'
		link(rel='stylesheet', type='text/css', href='/static/css/printable.css')
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Metamorphous&subset=latin,latin-ext')
		link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Armata&subset=latin,latin-ext')
		link(rel='icon', type='image/png', href='/static/img/pentacle-simple.png')

		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.js')
		script(src='/static/js/char-extras.js')
		script(src='/static/js/char-controllers.js')

	body
		.page(ng-app='charsheet')
			.row
				.column: .sheet-panel
					span(style='font-size: 0.6em;') Character 
					span {{data.name}}
				.column: .sheet-panel(style='text-align: right;')
					span {{data.player}}
					span(style='font-size: 0.6em;')  Player

			.row
				.column
					#aspects.sheet-panel(ng-controller='AspectCtrl', style='height: 210px;')
						h2 Aspects

						h3 High Concept
						span.aspect {{data.aspects.high_concept.name}}

						h3 Trouble
						span.aspect {{data.aspects.trouble.name}}

						h3 Other Aspects
						span.aspect(ng-repeat='a in data.aspects.aspects') {{parseAspect(a.name).name}}

					#stress.sheet-panel(style='height: 170px;')
						h2 Stress

					#conseq.sheet-panel(style='height: 170px;')
						h2 Consequences

					#totals.sheet-panel(style='height: 210px;')

				.column
					#skills.sheet-panel(style='height: 240px;')
						h2 Skills

					#powers.sheet-panel(style='height: 552px;')
						h2 Stunts & Powers
