doctype html
html
	head
		title= toonName + ', ' + toonConcept + ' | ToonStore.net'
		link(rel='stylesheet', type='text/css', href='/static/css/printable.css')
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Metamorphous&subset=latin,latin-ext')
		link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Armata&subset=latin,latin-ext')
		link(rel='icon', type='image/png', href='/static/img/pentacle-simple.png')

		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.js')
		script(src='/static/js/char-extras.js')
		script(src='/static/js/char-controllers.js')

	body
		.page(ng-app='charsheet')
			.row
				.column: .sheet-panel
					span(style='font-size: 0.6em;') Character 
					span {{data.name}}
				.column: .sheet-panel(style='text-align: right;')
					span {{data.player}}
					span(style='font-size: 0.6em;')  Player

			.row
				.column

					#aspects.sheet-panel(ng-controller='AspectCtrl')
						h2 Aspects

						h3 High Concept
						span.aspect {{data.aspects.high_concept.name}}

						h3 Trouble
						span.aspect {{data.aspects.trouble.name}}

						h3 Other Aspects
						span.aspect(ng-repeat='a in data.aspects.aspects') {{parseAspect(a.name).name}}

					#stress.sheet-panel(ng-controller='StressCtrl')
						h2 Stress

						#stressBlock
							.track
								.rowHeader
								.boxes
									.colHeader(ng-repeat='i in [1,2,3,4,5,6,7,8]')
										span {{i}}

							div(ng-repeat='track in data.stress', ng-controller='StressTrackCtrl', style='margin-bottom: 5px;')
								.track
									.rowHeader
										span {{data.name}}
										br
										span.subtitle ({{data.skill}})
									.boxes
										.box(ng-repeat='box in data.boxes track by $index')
											input.stressBox(type='checkbox', ng-class='manageParens($index)', ng-disabled='box === null')
											div: img(src='/static/img/checkbox.png')

								.track(ng-repeat='armor in data.armor') Armor: {{armor.strength}} vs. {{armor.vs}}


					#conseq.sheet-panel(ng-controller='ConsequenceCtrl')
						h2 Consequences
						table
							tr
								th Type
								th P/M/S
								th Stress
								th Used?
								th Aspect
							tr(ng-repeat='conseq in data.consequences | conseqSort')
								td {{conseq.severity}}
								td {{conseq.mode}}
								td {{magnitude(conseq.severity)}}
								td: div(style='display:inline-block; width:14px; height:14px; border-radius:50%; border:solid black 1px;')
								td

					#totals.sheet-panel(ng-controller='TotalsCtrl')

						#top-container.container
							#powerLevel
								span.label Power Level
								br
								span {{powerLevel()}}
							#skillCap
								span.label Skill Cap
								br
								span {{skillLabel(data.totals.skill_cap)}}

						#middle-container.container
							#skillsSpent
								span.label Skill Points Spent
								.bubble: span {{skillPointsSpent()}}
							#available-container
								span.label Total Available
								.bubble: span {{skillPointsAvailable()}}

						#bottom-container
							#star
								img(src='/static/img/pentacle.svg')
								.center-container: span Current Fate Points
							#baseRefreshLevel(style='left: 131px;')
								.bubble: span {{data.totals.base_refresh}}
								span Base Refresh Level
							#adjustedRefresh(style='left: 142px;')
								.bubble: span {{adjustedRefresh()}}
								span Adjusted Refresh
							#fpFromLastSession(style='left: 133px;')
								.bubble: span {{data.totals.fate_points}}
								span Last Session's FP

				.column

					#skills.sheet-panel(ng-controller='SkillCtrl')
						h2 Skills
						#skillBlock
							.row(ng-repeat='level in presOrder()', ng-hide='$last')
								.fieldLabel {{label(level)}}
								.skillList
									.skill(ng-repeat='skill in skills(level)')
										span {{skill}}
										span(ng-hide='$last') , 


					#powers.sheet-panel(ng-controller='PowersCtrl')
						h2 Stunts & Powers
