extends index

block title
	title #{toonName} | ToonStore.net
	meta(name='description', content='Access to the character sheet for #{toonName} has been blocked by the owner.')

block content

	h2 Cannot access private character

	.content-block: .normalbox

		p Access to this character sheet has been blocked by the owner. Log in as 
			a(href=url('/#{toonOwner}'))= toonOwner
			|  to view and edit this character.
