extends index

block title
	title Privacy Policy | Online Dresden Files RPG Character Hosting | ToonStore.net

block content

	h1 Privacy Policy

	.content-block: .normalbox

		h3 The gist of it

		ul
			li We don't ask for any personal information that we don't absolutely need for the running of this site.
			li We don't share your personal information with anyone except to comply with the law.
			li We don't store your personal information unless it is required for identification purposes (e.g. an email address).
			li Any content you create through this site is publicly accessible, and immutable to anyone but you.

		p.
			The above points are detailed further below. If you have any questions about the material on this page, or would like
			to request that we delete your account and information, email us at <a href='mailto:info@toonstore.net'>info@toonstore.net</a>.

		h3 Website Visitors

		h3 Gathering of Personally-Identifying Information

		h3 Aggregated Statistics

		h3 Protection of Certain Personally-Identifying Information

		h3 Cookies

		h3 Privacy Policy Changes

		h3 Change log

		ul
			li 2013-08-26: Initial version

		p.
			Note: This privacy policy is based loosely on the privacy policy of <a href='http://www.automattic.com' target='_blank'>Automattic.com</a>,
			which is under a <a href='http://creativecommons.org/licenses/by-sa/2.5/' target='_blank'>Creative Commons Sharealike</a> license.)

