extends index

block title
	title= toonName + ', ' + toonConcept + ' | ToonStore.net'
	meta(name='description', content=__('private.meta_description', toonName))

block content

	h2= __('private.pagetitle')

	.content-block: .normalbox

		p= __('private.content')
