extends index

block title
	title Register | ToonStore.net

block append includes
	script(src='/static/js/register.js')

	if page == '/post-register'
		script.
			$(document).ready(function(){
				function redirect(){
					window.location.replace('/'+userInfo.username);
				}
				setTimeout( redirect, 5000 );
			});

block content

	if page == '/register'

		.content-block: #register-box.titledbox
			.title: span Sign up
			.inner
				p Thank you for your interest! Just fill out the information below and we'll get you set up.
				form(action='/register', method='post')

					label(for='email') E-mail address
					input(type='email', name='email', required)
					p.caption We promise not to share your email with anyone! See the 
						a(href='/site/privacy') privacy policy
						.

					label(for='username') Username (also your permalink)
					input#username(type='text', name='username', required, onkeyup='checkUsername(this);')
					p.caption#userMessage No spaces or special characters except for _ and -

					label(for='password') Password
					input(type='password', name='password', required)

					label(for='confirm') Confirm password
					input(type='password', name='confirm', required)

					table: tr
						td: input#agreement(type='checkbox', name='agreement', required)
						td: label(for='agreement').
							I have read and agree with the <a href='/site/terms'>Terms of Use</a> 
							and the <a href='/site/privacy'>Privacy Policy</a>.

					.flexrow
						input(type='submit', value='Submit')
						p.caption#submitMessage

	else if page == '/federated-register'

		.content-block: #register-box.titledbox
			.title: span Sign up
			.inner
				p Since this is the first time you've logged in, you must pick a username.
				form(action='/federated-register', method='post', onsubmit='return validate();')

					label(for='username') Username (also your permalink)
					input#username(type='text', name='username', required, onkeyup='checkUsername(this);')
					p.caption#userMessage No spaces or special characters except for _ and -

					table: tr
						td: input#agreement(type='checkbox', name='agreement', required)
						td: label(for='agreement').
							I have read and agree with the <a href='/site/terms'>Terms of Use</a> 
							and the <a href='/site/privacy'>Privacy Policy</a>.

					.flexrow
						input(type='submit', value='Submit')
						p.caption#submitMessage

	else if page == '/post-register'

		.content-block: .titledbox
			.title Registration successful!
			.inner
				p You have completed registration. You will be redirected to your profile page in 5 seconds.

