extends index

block title
	title Register - ToonStore

block append includes
	script(src='/js/register.js')
	if page == '/register'
		script.
			$(document).ready(function(){
				$('#passLength').text(passLength);
			});

	else if page == '/post-register'
		script.
			$(document).ready(function(){
				function redirect(){
					window.location.replace('/login');
				}
				setTimeout( redirect, 5000 );
			});

block content

	if page == '/register'

		.content-block: #register-box.titledbox
			.title: span Sign up
			.inner
				form(action='/register', method='post', onsubmit='return validate();')

					label(for='email') E-mail address
					input#email(type='email', name='email', required)
					p.caption#emailMessage We promise not to share your email with anyone.

					label(for='username') Username (also URL)
					input#username(type='text', name='username', required, onkeyup='checkUsername(this);')
					p.caption#userMessage No special characters except for _ and -

					label(for='password') Password
					input#password(type='password', name='password', required, onkeyup='checkPassword();')
					p.caption#passwordMessage Must be at least 
						span#passLength
						|  characters long. Uppercase, numbers, and special characters recommended.

					label(for='confirm') Confirm password
					input#confirm(type='password', required, onkeyup='checkPassword();')
					p.caption#confirmMessage Passwords match.

					.flexrow
						input(type='submit') Submit
						p.caption#submitMessage

	else if page == '/post-register'

		.content-block: .titledbox
			.title Registration successful!
			.inner
				p You have successfully registered. You will be redirected to the login page in 5 seconds.

