extends index

block title
	title Terms of Use | ToonStore.net
	meta(name='description', content='The ToonStore terms of use')

block content

	h1 Terms of Use

	.content-block: .normalbox

		p.
			By using the ToonStore website, you agree to abide by the following conditions:

		ul
			li: p.
				The use of the character sheet hosting services provided by the ToonStore website are provided
				free of charge.
			li: p.
				Derogatory Studios makes no guarantee of the reliability or longevity of the ToonStore website,
				nor of characters produced therein. The ToonStore website is provided WITHOUT WARRANTY, expressed
				or implied. Derogatory Studios reserves the right to delete character or user data at any time for
				any reason without notice. If we do so, you may contact us within 30 days of deletion to request a
				copy of the deleted data.
			li: p
				| Any and all data entered into a character sheet is public to anyone that knows or can guess the URL.
				| Users should have no expectation of data privacy, except for data covered under the 
				a(href=url('/site/privacy'), target='_blank') Privacy Policy
				| . However, only the user and site administrators are able to modify a user's character sheet.
			li: p
				| Users who abuse the services provided by the ToonStore website by posting spam, slanderous, offensive,
				| or pornograpic content, or by attempting to circumvent security measures may have their data deleted
				| and their IP address blocked. Derogatory Studios reserves the right to apply the above measures to any
				| user for any reason. If you believe these have been applied in error, you have 30 days to appeal by
				| sending an email to the address on the 
				a(href=url('/site/contact'), target='_blank') Contact Us
				|  page.
			li: p.
				Changes to these Terms may occur at any time at Derogatory Studio's discretion. A notice will be posted
				on the front page of the ToonStore website for at least 30 days after these Terms change. Continued use
				of the site implies consent with the updated Terms.
			li: p
				| Any questions regarding the implementation of these policies can be emailed to Derogatory Studios at the
				| address listed on the 
				a(href=url('/site/contact'), target='_blank') Contact Us
				|  page.

		h3 Change log

		ul
			li <strong>August 29, 2013</strong>: Initial version
