doctype html
html
	head
		block title
			title ToonStore
		block includes
			link(rel='stylesheet',href='/css/global.css')
			script(src='/js/jquery-1.10.1.js')
			
	body
		#userbar
			if logged_user
				a(href='/logout') Log out
				p #{logged_user}
			else
				a(href='/login') Log in

		block content
