extends index

block title
	title= owner + ' | Online Dresden Files RPG Character Hosting | ToonStore.net'

block content

	.content-block
		h1
			span= owner
			span 's page

	.content-block: .normalbox
		if toons.length > 0
			p Characters:
			ul#charList
				each char in toons
					li: a(href='/#{owner}/#{char.canon_name}')= char.name +' - '+ char.concept
		else
			p This user lacks character (badum-ching!)

		if logged_user == owner
			p: a(href='/newtoon') Create a new character
