@import 'polyfill';

.navbar
{
	height:40px;
	width: 100%;
	color: white;
	font-size: 11pt;
	font-family: 'Denk One', sans-serif;
	border-bottom: solid grey 1px;
	position: relative;

	@include display-flex();
	@include flex-direction(row);
	@include align-items(center);
	@include justify-content(space-between);

	.itemgroup
	{
		@include display-flex();
		@include flex-direction(row);
		padding: 0;
		margin: 0 auto;
		width: 500px;
		height: 40px;
	}

	.navitem
	{
		display: inline;
		float: left;

		a {
			width: 100px;
			text-align: center;
			display: inline-block;
		}	
	}

	a#pull {
			display: none;
		}
}

.footer
{
	font-family: 'Denk One', sans-serif;
	margin-top: 15px;
	padding: 15px 0;
	border-top: solid grey 1px;
	width: 100%;

	@include display-flex();
	@include flex-direction(row);
	@include align-items(center);
	@include justify-content(center);
	@include flex-wrap(wrap);

	& > *
	{
		padding: 0 12px;
	}
}

