@import 'polyfill';

$nav-padding: 12px;

nav
{
	padding: 15px 0;
	font-family: 'Denk One', sans-serif;
	text-align: center;

	@include display-flex();
	@include align-items(center);

	header &
	{
		@include justify-content(space-between);
		border-bottom: solid grey 1px;
	}

	footer &
	{
		@include phone {
			display: none;
		}

		@include justify-content(center);
		border-top: solid grey 1px;
	}

	#hamburger
	{
		padding: 0 $nav-padding;

		@include nonphone {
			display: none;
		}
	}

	a, input.fakelink
	{
		color: white;
	}

	& > ul
	{
		list-style: none;
		margin: 0;
		padding: 0;

		@include display-flex();

		& > li
		{
			padding: 0 $nav-padding;
		}

		&.menu
		{
			@include phone
			{
				display: none;
				position: absolute;
				top: 51px;
				left: 0;

				padding: 5px 0;

				text-align: left;
				background-color: #41568a;
				border: solid grey 1px;

				&.activemenu
				{
					display: block;
				}

				& > li
				{
					padding: 5px 10px;
				}
			}

			.menuonly
			{
				@include nonphone {
					display: none;
				}
			}
		}
	}
}


.langselectmenu
{
	position: relative;

	&.active {
		ul.langselect {
			display: block;
		}
		.langselecticon {
			visibility: hidden;
		}
	}

	.icon {
		width: 20px;
	}

	.langselecticon {
		@extend .icon;
		cursor: pointer;
	}

	ul.langselect
	{
		list-style: none;
		margin: 0;
		display: none;

		$menu-padding: 3px;
		$border-width: 1px;
		padding: $menu-padding;
		background-color: #d8e0ff;
		border: solid #cacaca $border-width;
		border-radius: 3px;

		position: absolute;
		bottom: -$menu-padding - 1;
		right: $nav-padding - $menu-padding - $border-width - 1;

		.active {
			cursor: pointer;
		}

		.icon {
			border: solid white 1px;
		}

		li {
			margin: 5px 0;
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}	
		}
	}
}

