@import 'polyfill';
@import 'navbar';
@import 'media_queries';

.banner
{
	@include display-flex();
	@include align-items(center);
	@include flex-direction(column);

	font-size: 2.0em;
	padding: 18px;

	h1 {
		font-family: 'Denk One', sans-serif;
	}

	h2 {
		font-family: 'Pathway Gothic One', sans-serif;
		font-weight: normal;
	}

	& > * {
		margin: 10px;
		text-align: center;
	}
}

