@import 'polyfill';

article header
{
	text-align: center;
	font-size: 2.0em;
	padding: 18px 0;

	h1 {
		font-family: 'Denk One', sans-serif;
		font-size: 2.0em;
	}

	h2 {
		font-family: 'Pathway Gothic One', sans-serif;
		font-weight: normal;
	}

	h1, h2 {
		margin: 10px;
	}
}
