section {
	border: 1px solid black;
	border-radius: 5px;
	width: 300px;
	padding: 10px;
	margin: 10px;
	text-align: center;
}

div.field {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.field > * {
	margin-top: 2px;
	margin-bottom: 2px;
}

p.sectionHeader {
	font-size: 20pt;
	font-weight: bold;
	margin: 0;
}

p.fieldLabel {
	font-size: 16pt;
	font-style: italic;
}

table#stressTable {
	width: 100%;
}
table#stressTable th {
	text-align: right;
}

input[type="checkbox"].stressBox {
	display: none;
}

input[type="checkbox"].stressBox + label {
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-image: url(checks.png);
}

input[type="checkbox"].stressBox:checked + label {
	background-position: -20px 0px;
}
input[type="checkbox"][disabled="disabled"].stressBox + label {
	background-position: -40px 0px;
}
