section {
	border: 1px solid black;
	border-radius: 5px;
	width: 300px;
	padding: 10px;
	margin: 10px;
	text-align: center;
}

div.field {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.field > * {
	margin-top: 2px;
	margin-bottom: 2px;
}

p.sectionHeader {
	font-size: 20pt;
	font-weight: bold;
	margin: 0;
}

p.fieldLabel {
	font-size: 16pt;
	font-style: italic;
}

table#stressTable {
	width: 100%;
}
table#stressTable th {
	text-align: right;
}
